body {
padding: 3px 0px 3px 0px;
margin: 0px;
background-color: #f0f8e4;
-webkit-text-size-adjust: none;
-webkit-user-select: none;
overflow: hidden;
}

h1 {
color: #000;
display: block;
margin: 0px 0px 0px 0px;
padding: 0px;
font-size: x-large;
font-weight: normal;
}

h2 {
color: #96BE57;
display: block;
margin: 0px 0px 0px 0px;
padding: 3px 0px 3px 0px;
font-size: large;
font-weight: bold;
text-align: center;
font-family:Arial,Helvetica,sans-serif;
}

span.text {
display: block;
padding: 3px;
margin: 1px;
border-top: 1px solid #CCC;
border-bottom: 1px solid #CCC;
color: #000;
max-width: 600px;
}

div.status {
display: block;
padding: 3px;
margin: 1px 0px 0px 0px;
border-bottom: 1px solid #CCC;
color: #333;
height: 20px;
font-size: medium;
text-align: center;
overflow: hidden;
}

div.status a:link, div.status a:visited {
/*display:block;
line-height:17px;
padding:2px 5px 2px 9px;*/
overflow: hidden;
}

div.nav {
background-color:#D1DEBD;
display: block;
padding: 3px;
margin: 0px 0px 5px 0px;
color: #333;
border-top: 1px solid #E0E0E0;
border-bottom:1px solid #CCCCCC;
font-size: large;
overflow: hidden;
}

div.nav a:link, div.nav a:visited {
display:block;
/*line-height:17px;*/
padding:5px 0px 5px 0px;
overflow: hidden;
}

div.author {
display: block;
padding: 3px;
margin: 1px;
background-color: #F5F5F5;
color: #333;
max-width: 600px;
}

div.content {
display: block;
padding: 3px;
margin: 1px;
border-bottom: 1px solid #CCC;
color: #333;
max-width: 100%;
}

div.item{
	/*border-bottom:1px solid #000000;
	border-top:1px solid #333333;*/
	clear:both;
	padding:5px;
	overflow: hidden;
}

a.control:link, a.control:visited {
display:block;
padding: 5px;
background-color: #D1DEBD;
}
a.control:hover {
text-decoration: none;
background-color: #9C9B50;
color: #FFF;
}

.imgcheck {
float:left;
height:32px;
margin-right:10px;
width:32px;
}
span.itemtitle {
font-size:18px;
text-shadow:1px 1px 5px #F0F8E4;
}

span.desc {
color:#BBBBBB;
display:block;
font-weight:bold;
margin-top:5px;
}

div.form {
display: block;
padding: 3px;
margin: 1px;
border-bottom: 1px solid #CCC;
color: #333;
max-width: 600px;
line-height: 25px;
}

div#debug {
border-top: 2px solid #999;
background-color: #000;
font-size: 10px;
color: #FFF;
clear: both;
opacity: .85;
padding: 5px;
}

form {
padding: 0px;
margin: 0px;
display: block;
}

div.c {
clear: both;
}

div.ad {
background-color: #FFF;
border-top: 2px solid #F90;
padding: 10px;
margin-top: 5px;
border-bottom: 2px solid #09F;
}

ul {
-x-system-font:none;
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #B4B4B4;
color:black;
font-family:Helvetica;
font-size:17px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
margin:15px 10px 17px 0;
padding:0;
}

ul.form li:hover {
background:#FFFFFF none repeat scroll 0 0;
}
ul.form li {
	padding:7px 10px;
}
ul li {
border-top:1px solid #B4B4B4;
color:#666666;
list-style-type:none;
}

img.p {
padding: 2px;
background-color: #F0F0F0;
border: 1px solid #CCC;
}

a, a:visited, a:active {
text-decoration: none;
color: #9C9B50;
}

a.check, a.check:visited, a.check:active {
text-decoration: none;
color: #999;
font-size: small;
}

a.check:hover {
text-decoration: none;
background-color: #F00;
color: #FFF;
font-size: small;
}

a:hover {
text-decoration: none;
background-color: #9C9B50;
color: #FFF;
}

small.error {
color: #C00;
}

small {
color: #999;
}

small.author {
color: #BBB;
}

.r small {
color: #BBB;
}

.r small strong {
color: #666;
}

.textbox {
padding: 2px;
border: 1px solid #CCC;
}

.textbox:focus {
padding: 2px;
border: 1px solid #0C0;
}

.go {
border: 1px solid #999;
border-left: 1px solid #EEF;
border-top: 1px solid #EEF;
border-right: 1px solid #88A;
border-bottom: 1px solid #88A;
background-color: #577DE4;
color: #FFF;
}

/* Derived from This iPhone UI Framework kit */
ul li input[type="text"], ul li input[type="password"], ul li textarea, ul li select {iphone.css (第 611 行)
-x-system-font:none;
background:#FFFFFF url(../.png) repeat scroll 0 0;
border:0 none;
color:#777777;
display:inline-block;
font-family:Helvetica;
font-size:17px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin-left:0;
padding:0;
width:100%;
}
ul li textarea {
height:120px;
padding:0;
text-indent:-2px;
}
ul li select {
background:transparent url(../images/chevron.png) no-repeat scroll 103% 3px;
margin-left:-6px;
text-indent:0;
width:104%;
}
ul li input[type="checkbox"], ul li input[type="radio"] {
color:#324F85;
margin:0;
padding:10px;
}
ul li input[type="checkbox"]:after, ul li input[type="radio"]:after {
-x-system-font:none;
content:attr(title);
display:block;
font-family:Helvetica;
font-size:17px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin:-12px 0 0 17px;
width:246px;
}
