/*
Original design: 1024px (v3.0 - Apr 24, 2008) - A free xhtml/css website template by Andreas Viklund and stylishtemplate.com.
For more information, see http://andreasviklund.com/templates/1024px/
*/

/* General tags */
body {background:url(/img/calit2/background.gif) repeat-y top center #fff; color:#404040; font:76% Verdana,Tahoma,Arial,sans-serif; line-height:1.3em; margin:0 auto; padding:0;}
a {color:#88bb55; font-weight:700; text-decoration:none;}
a:hover {text-decoration:underline;}
a img {border:0;}
p {margin:0 0 18px 10px;}
ul,ol,dl {font-size:0.9em; margin:2px 0 16px 35px;}
ul ul,ol ol {margin:4px 0 4px 35px;}
blockquote {border:1px solid #dadada; font-size:0.9em; margin:20px 10px; padding:8px;}
blockquote p {margin:0;}

/* Headers */
h1 {color:#88bb55; font-size:2.6em; letter-spacing:-3px; margin:0 0 20px 25px;}
h1 a {color:#88bb55; text-transform:none;}
h2 {border-bottom:4px solid #dadada; color:#88bb55; font-size:1.4em; letter-spacing:-1px; margin:0 0 10px; padding:0 2px 2px 5px;}
h3 {border-bottom:1px solid #dadada; color:#88bb55; font-size:1.2em; font-weight:700; margin:10px 0 8px; padding:1px 2px 2px 3px;}

/* Toptabs menu */
#toptabs {margin:10px auto -13px; width:750px;}
#toptabs p {color:gray; text-align:left;}
.toptab {background:#f0f0f0 url(/img/calit2/corner2.gif) top right no-repeat; border-bottom:1px solid #e0e0e0; color:gray; margin:0 0 0 4px; padding:4px 5px 3px; text-decoration:none;}
.toptab:hover {background:#fafafa url(/img/calit2/corner2.gif) top right no-repeat; border-bottom:1px solid #eaeaea; color:#505050; text-decoration:none;}
.activetoptab {background:#fff url(/img/calit2/corner2.gif) top right no-repeat; border-bottom:1px solid #fff; color:#505050; margin:0 0 0 4px; padding:4px 5px 3px; text-decoration:none;}
.activetoptab:hover {border-bottom:1px solid #fff; text-decoration:none;}

/* Navitabs menu */
#navitabs {clear:both;line-height: 3em;margin: 0px 5px 15px auto;}
.navitab {background:#f0f0f0 url(/img/calit2/corner.gif) top right no-repeat; border-bottom:1px solid #fff; border-left:1px solid #fff; font-size:1.1em; margin:0 0 4px; padding:4px 8px; text-decoration:none;}
.navitab:hover {background:#e0e0e0 url(/img/calit2/corner.gif) top right no-repeat; border-bottom:1px solid #fff; text-decoration:none;}
.activenavitab {background:#505050 url(/img/calit2/corner.gif) top right no-repeat; color:#fff; font-size:1.1em; margin:0 0 5px; padding:4px 8px 5px; text-decoration:none;}
.activenavitab:hover {color:#fff; text-decoration:none;}
#navitabs a.navitab {font-weight:400;}




/* Main wrap */
#wrap {color:#404040; margin:10px auto; padding:0; width:970px;}
#header {margin:0;}
#toplinks {font-size:0.9em; padding:5px 2px 2px 3px; text-align:right;}
#toplinks a {color:gray;}
#slogan {color:gray; font-size:1.3em; font-weight:700; letter-spacing:-1px; line-height:1.2em; margin:15px 0 20px 35px;}

/* Sidebar and menu */
#sidebar {float:left; line-height:1.4em; margin:0 0 5px; padding:1px 0 0; width:195px;}
#sidebar ul {font-size:0.9em; list-style:none; margin:0; padding:0 0 15px 10px;}
#sidebar li {list-style:none; margin:0 0 4px; padding:0;}
#sidebar li a {font-size:1.2em; font-weight:700; padding:2px;}
#sidebar ul ul {line-height:1.2em; margin:4px 0 3px 15px; padding:0;}
#sidebar ul ul li a {font-weight:400;}
#sidebar h2 {margin:3px 0 8px;}

/* Main content */
#content {float:right; line-height:1.5em; margin:0; padding:0; text-align:left; width:750px;}
#contentalt {float:left; line-height:1.5em; margin-right:20px; padding:0; text-align:left; width:750px;}
#content h3,#contentalt h3 {margin:10px 0 8px;}
#content ul li {background-color: #fafafb;list-style: none;margin: -5px 0 5px -50px;}
#content ul li.odd {background-color: #fff;list-style: none;font-size:1.2em;}
#content ul li:hover {background: #FFF url(/img/calit2/tr_bck.gif) repeat}


/* Footer */
#footer {border-top:4px solid #dadada; clear:both; color:gray; font-size:0.9em; line-height:1.6em; margin:0 auto; padding:8px 0; text-align:right;}
#footer p {margin:0; padding:0;}
#footer a {color:#808080;}

/* Additional classes */
.box {background:#88bb55; border:1px solid #c8c8c8; color:#fff; font-size:0.9em; line-height:1.4em; padding:10px 10px 10px 13px;}
.box a {color:#f0f0f0;}
.left {float:left; margin:0 15px 4px 0;}
.right {float:right; margin:0 0 4px 15px;}
.readmore {margin:-10px 10px 12px 0; text-align:right;}
.timestamp {font-size:1.2em; margin:-5px 0 15px 10px;}
.timestamp a {font-weight:normal;}
.blue {color:#4088b8;}
.clear {clear:both;}
.fade {color:#c8c8c8;}
.gray {color:gray;}
.photo {background:#fff; border:1px solid #bababa; margin:6px 18px 2px 5px; padding:2px;}
.hide {display:none;}
