/*
Original design: 1024px (v3.0 - Apr 24, 2008) - A free xhtml/css website template by Andreas Viklund and stylishtemplate.com.
For more information, see http://andreasviklund.com/templates/1024px/
*/

/* General tags */
body {background:url(/img/calit2/background.gif) repeat-y top center #fff; color:#404040; font:76% Verdana,Tahoma,Arial,sans-serif; line-height:1.3em; margin:0 auto; padding:0;}
a {color:#88bb55; font-weight:700; text-decoration:none;}
a:hover {text-decoration:underline;}
a img {border:0;}
p {margin:0 0 18px 0px;}
ul,ol,dl {font-size:0.9em; margin:2px 0 16px 35px;}
ul ul,ol ol {margin:4px 0 4px 35px;}
blockquote {border:1px solid #dadada; font-size:0.9em; margin:20px 10px; padding:8px;}
blockquote p {margin:0;}

/* Headers */
h1 {color:#FFF; font-size:2.6em; letter-spacing:-3px; margin:0px 0 12px 25px;padding: 15px 0 15px 0;}
h1 a {color:#FFF; text-transform:none;}
h2 {border-bottom:4px solid #dadada; color:#88bb55; font-size:1.4em; letter-spacing:-1px; margin:0 0 10px; padding:0 2px 2px 5px;}
h3 {border-bottom:1px solid #dadada; color:#88bb55; font-size:1.2em; font-weight:700; margin:10px 0 8px; padding:1px 2px 2px 3px;}

/* Toptabs menu */
#toptabs {margin:10px auto -13px; width:750px;}
#toptabs p {color:gray; text-align:left;}
.toptab {background:#f0f0f0 url(/img/calit2/corner2.gif) top right no-repeat; border-bottom:1px solid #e0e0e0; color:gray; margin:0 0 0 4px; padding:4px 5px 3px; text-decoration:none;}
.toptab:hover {background:#fafafa url(/img/calit2/corner2.gif) top right no-repeat; border-bottom:1px solid #eaeaea; color:#505050; text-decoration:none;}
.activetoptab {background:#fff url(/img/calit2/corner2.gif) top right no-repeat; border-bottom:1px solid #fff; color:#505050; margin:0 0 0 4px; padding:4px 5px 3px; text-decoration:none;}
.activetoptab:hover {border-bottom:1px solid #fff; text-decoration:none;}

/* Navitabs menu */
#navitabs {clear:both;line-height: 3em;margin: 0px 5px 15px 5px;}
.navitab {background:#f0f0f0 url(/img/calit2/corner.gif) top right no-repeat; border-bottom:1px solid #fff; border-left:1px solid #fff; font-size:1.3em; margin:0 0 4px; padding:4px 16px; text-decoration:none;}
.navitab:hover {background:#e0e0e0 url(/img/calit2/corner.gif) top right no-repeat; border-bottom:1px solid #fff; text-decoration:none;}
.activenavitab {background:#505050 url(/img/calit2/corner.gif) top right no-repeat; color:#fff; font-size:1.3em; margin:0 0 5px; padding:4px 18px; text-decoration:none;}
.activenavitab:hover {color:#fff; text-decoration:none;}
#navitabs a.navitab {font-weight:400;}




/* Main wrap */
#header {top:0px; margin:0px auto 0px auto;width:1011px;background-color:#88bb55;float: none;}
#wrap {color:#404040; margin:6px auto; padding:0; width:970px;}
#toplinks {font-size:1em; padding:20px 20px 0px 0px; text-align:right; float: right;}
#toplinks a {color:white;}

/* Sidebar and menu */
#sidebar {float:left; line-height:1.4em; margin:0 0 5px; padding:1px 0 0; width:195px;}
#sidebar ul {font-size:0.9em; list-style:none; margin:0; padding:0 0 15px 10px;}
#sidebar li {list-style:none; margin:0 0 4px; padding:0;}
#sidebar li a {font-size:1.2em; font-weight:700; padding:2px;}
#sidebar ul ul {line-height:1.2em; margin:4px 0 3px 15px; padding:0;}
#sidebar ul ul li a {font-weight:400;}
#sidebar h2 {margin:3px 0 8px;}

/* Additem Div content */
#additem {float:right; line-height:1.5em; margin:0 0 5px 0; padding:0; text-align:left; width:750px;}

/* Main content */
#content {float:right; line-height:1.5em; margin:0; padding:0; text-align:left; width:750px;}
#contentalt {float:left; line-height:1.5em; margin-right:20px; padding:0; text-align:left; width:750px;}
#content h3,#contentalt h3 {margin:10px 0 8px;}
#content ul li {font-size:1.6em;list-style: none;margin: 0px 0 0px -80px;line-height:2.2em;}
#content ul li.even {background-color: #fff;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #d0d0d0;}
#content ul li.odd {background-color: #fafafb;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #e0e0e0;}
#content ul li:hover {background: #FFF url(/img/calit2/tr_bck.gif) repeat}

/* Add Item (inside Content) */
#additem {display: block; margin: 5px 0px 5px 0px;}

/* Item List(inside Content) */
#itemlist {display: block; margin: 5px 0px 5px 0px;}

/* Album (inside Content) */
#album {width: 750px; margin: 5px 0px 5px 0px;}
#album1 {background:url(/img/calit2/darkbg.png); width: 290px; height: 320px; float: left; padding: 10px; position:relative; top:-370px; left:35px;}
#album1 p {font-size:1.2em; line-height: 1.5em; color:white; margin:0 0 18px 0px;}

/* Footer */
#footer {border-top:4px solid #dadada; clear:both; color:gray; font-size:0.9em; line-height:1.6em; margin:0 auto; padding:8px 0; text-align:right;}
#footer p {margin:0; padding:0;}
#footer a {color:#808080;}

/*Toggle Button*/
span.down {
    background: #bbb;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
    }

/* Additional classes */
.box {background:#88bb55; border:1px solid #c8c8c8; color:#fff; font-size:0.9em; line-height:1.4em; padding:10px 10px 10px 13px;}
.box a {color:#f0f0f0;}
.left {float:left; margin:0 15px 4px 0;}
.right {float:right; margin:0 0 4px 15px;}
.readmore {margin:-10px 10px 12px 0; text-align:right;}
.timestamp {font-size:1.2em; margin:-5px 0 15px 10px;}
.timestamp a {font-weight:normal;}
.blue {color:#4088b8;}
.clear {clear:both;}
.fade {color:#c8c8c8;}
.gray {color:gray;}
.photo {background:#fff; border:1px solid #bababa; margin:6px 18px 2px 5px; padding:2px;}
.hide {display:none;}
.date {color:gray;font-size:0.8em;}
span.slogan {display:block; float: left; color:grey; width:195px; font-size:1.3em; font-weight:700; letter-spacing:-1px; line-height:1.2em; margin:10px 20px 0px 0px;}
