div.fiflufi div.rightCol {
    font-size: 11px;
    line-height: 1.181818em;
}

/* Headers */
h1,
#spArticleBody h1 {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    line-height: 1.2em;
}

h2,
#spArticleBody h2 {
    font-size: 14px;
    color: #96BE57;
    font-weight: bold;
    line-height: 1.5em;
}

#sitename {
color:#96BE57;
display:block;
font-size:28px;
font-weight:normal;
margin:0 0 1px 10px;
}

h2 img {
    vertical-align: text-bottom;
}

h5,
#spArticleBody h5 {
    font-size: 11px;
    color: #000;
    font-weight: bold;
}

/* Buttons */

a.button,
input.button,
button.button,
a.confirmButton,
input.confirmButton,
button.confirmButton {
    padding: 0 4px;
    border: 1px solid #ccc;
    border-color: #999 #858585 #666 #858585;
    color: #fff;
    font-size: 11px;
    cursor: pointer;
    vertical-align: middle;
    vertical-align: baseline;
    text-decoration: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #9b9b9b url(http://cdn.last.fm/flatness/buttons/5/button.png) 0 0 repeat-x;
    font-weight: bold;
    line-height: 16px;
    text-shadow: #9b9b9b 0 -1px 1px;
}
a.confirmButton,
input.confirmButton,
button.confirmButton {
    border-color: #505050 #404040 #2d2d2d #404040;
    font-weight: bold;
    background: #515151 url(http://cdn.last.fm/flatness/buttons/5/confirm_button.png) 0 0 repeat-x;
    text-shadow: #515151 0 -1px 1px;
}

a.confirmButtonBlue,
input.confirmButtonBlue,
button.confirmButtonBlue {
    border-color: #00a4c3 #0094b6 #007599 #0094b6;
    font-weight: bold;
    background: #00b6d8 url(http://cdn.last.fm/flatness/buttons/5/confirm_button_blue.png) 0 0 repeat-x;
    text-shadow: #007599 0 -1px 1px;
}
a.button:hover,
input.button:hover,
button.button:hover,
a.confirmButton:hover,
input.confirmButton:hover,
button.confirmButton:hover {
    color: #fff;
    text-decoration: none;
}
a.button:active,
input.button:active,
button.button:active,
a.confirmButton:active,
input.confirmButton:active,
button.confirmButton:active,
a.activeButton,
input.activeButton,
button.activeButton {
}

input.confirmButton[disabled],
input.disabledConfirmButton {
    color: #bbb;
}

/* Full-width layout, here we come */

body {
    background: url(/img/bg2.png);
    /*background: url(/img/newbg.jpg);
    /*background: #e3e3e3;*/
	/*background-color:#F0F8E4;
	background-color:#AFCD7F;
	background-repeat:repeat-x;*/
	background-repeat:repeat-x;
	/*background-color:#AFCD7F;*/
	background-color:#C2CACD;
}

body #page {
    margin: 0 auto;
    min-width: 913px;
    max-width: 1102px;
    overflow: hidden;

	background-color:#D9E2E6;
	border-left: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;


}

* html div#page {
    width: expression(documentElement.clientWidth < 913? "915px" : documentElement.clientWidth > 1104? "1102px" : "auto");
}

#spArticleBody #page {
    background: #fff;
}

div.sic,
div.fiflufi, 
div.fixed {
    padding: 0 15px;
}

div.sic #content {
    position: relative;
    clear: both;
    margin: -1px 0 0 110px;
    padding: 0 15px 15px 15px;
    min-height: 400px;
    background: #fff;
    overflow: visible;
    border: 1px solid #ccc;
    border-top-width: 1px;
}


/* Fixed Grid Layout ( Landing Pages ) */

div.fixed {
    width: 900px;
    margin: 0 auto; 
}

div.fixed #content {
    position: relative;
    clear: both;
    margin: -1px 0 0 110px;
    min-height: 500px;
    overflow: visible;
    border: 1px solid #ccc;
    background: #fff;
}

div.fixed div.fullWidth {
    clear: both;
    margin: 0 15px;
    padding: 15px 0;
}

div.fixed div.leftCol {
    float: left;
    display: inline;
    margin-right: -330px; /* -330px */
    width: 100%;
    overflow: hidden;
}

div.fixed div.leftColWrapper {
    margin-right: 330px; /* 330px */
    padding: 15px;
    padding-right: 0;
    overflow: hidden;
}

div.fixed div.rightCol {
    float: right;
    display: inline;
    position: relative;
    padding: 15px;
    width: 300px; /* 300px */
/*    overflow: hidden;*/
}

/* Ads */

#LastAd_Top {
    margin: 0 0 8px 0;
}

.LastAd,
.LastAd * {
    line-height: 0px;
    font-size: 1px;
    vertical-align: baseline;    
}

.LastAd img {
}

#LastAd_Mid {
    clear: both;
    padding: 15px;
    border-top: 1px solid #ebebeb;
    background: #fff;
    zoom: 1;
}

.sic #LastAd_Mid {
    padding: 15px 0 0 0;
    margin: 15px -15px 0 -15px;
}

#LastAd_Top .wrapper,
#LastAd_Mid .wrapper {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}


#LastAd_Skin a {
    position: absolute;
}

div.sic div.leaderboardCentre {
    padding: 0;
}

div.sic div.bottomRail {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    clear: both;
}

div.sic div#LastAd_SkyscraperRight {
    float: right;
    display: inline;
    width: 160px;
    height: 600px;
}

div#LastAd_SkyscraperRight div.wrapper {
    width: 160px;
    height: 600px;
    overflow: hidden;
}

div.leaderboardCentre .wrapper,
div.bottomRail .wrapper {
    width: 728px;
    height: 90px;
    overflow: hidden;
    margin: 0 auto;
}

div.skylineRight {
    margin-left: -15px;
    padding-right: 160px;
    overflow: hidden;
}
div.skylineRight div.skyWrap {
    overflow: hidden;
    padding: 0 15px;
    zoom: 1;
}

#page div.skylineRight div#LastAd_SkyscraperRight {
    float: right;
    display: inline;
    margin: 0 -160px 0 0;
}

div.mpu {
    margin: 15px 0;
}

div.mpu .wrapper {
    width: 300px;
    height: 250px;
    overflow: hidden;
}

/**/

div.sic #content .fullWidth {
    margin: 15px 0;
    clear: both;
}

#page .twoCols h2 {
    margin-left: 0;
}

.twoCols {
    overflow: hidden;
}

div.sic #content .leftColumn,
.twoCols .leftColumn {
    float: left;
    display: inline;
    overflow: hidden;
    width: 50%;
}

div.sic #content .leftColumn .wrapper,
.twoCols .leftColumn .wrapper {
    margin: 0 7px 15px 0;
    zoom: 1;
}

div.sic #content .rightColumn,
.twoCols .rightColumn {
    float: right;
    display: inline;
    overflow: hidden;
    width: 49%;
}

div.sic #content .rightColumn .wrapper,
.twoCols .rightColumn .wrapper {
    margin: 0 0 15px 7px;
    zoom: 1;
}

/* end */

div.showgrid div.leftColumn {
    background-image: url(http://cdn.last.fm/flatness/grids/grid_48.15.png);
    background-position: left top;
}

div.showgrid div.rightColumn {
    background-image: url(http://cdn.last.fm/flatness/grids/grid_48.15.png);
    background-position: 7px top;
}

/*
    The Three Column Layout
    (also know as ‘fiflufi’)
    (because it is fixed-fluid-fixed)
*/

div.fiflufi #content {
    position: relative;
    clear: both;
    margin: -1px 0 0 110px;
    min-height: 300px;
    background: url(http://cdn.last.fm/flatness/grids/fiflufi_right.4.png) right top repeat-y #fff;
    overflow: visible;
    border: 1px solid #ccc;
}

div.fiflufi #content .fullWidth {
    margin: 0;
    padding: 15px;
    background: #fff;
    clear: both;
}

div.fiflufi div.leaderboardCentre {
    border-bottom: 1px solid #ccc;
}

div.fiflufi div.bottomRail {
    border-top: 1px solid #ccc;
    margin-top: 15px;
    clear: both;
}

div.fiflufi div#LastAd_SkyscraperRight {
    float: right;
    display: inline;
    width: 160px;
    height: 600px;
}

div.fiflufi div.leftCol {
    float: left;
    display: inline;
    margin-right: -330px;
    width: 100%;
    overflow: hidden;
    background: url(http://cdn.last.fm/flatness/grids/fiflufi_right_top_gradient.5.png) right top no-repeat transparent;
}

div.fiflufi div.leftColWrapper {
    margin-right: 330px;
    padding: 15px;
    overflow: hidden;
}

div.fiflufi div.rightCol {
    float: right;
    display: inline;
    position: relative;
    padding: 15px;
    width: 300px;
    /*background: url(http://cdn.last.fm/flatness/grids/fiflufi_right_top_gradient.5.png) right top no-repeat transparent;*/
    background: url(/img/ctest_rightcol.png) right top repeat-x transparent;
	/*background-color: #F3FAE8;*/
/*    overflow: hidden;*/
}


div.fiflufiSmall div.leftCol {
	margin-right: -190px;
	background: none;
}

div.fiflufiSmall div.leftColWrapper {
	margin-right: 190px;
	background: none;
}

div.fiflufiSmall div.rightCol {
	width: 160px;
	background: none;
}

div.fiflufiSmall div#content {
	background: #fff;
}

/* dev grid overlay */

.showgrid #secondaryNavigation {
    background-image: url(http://cdn.last.fm/flatness/grids/grid_48.15.png);
    background-position: left top;
}

.showgrid #content .fullWidth {
    background-image: url(http://cdn.last.fm/flatness/grids/grid_48.15.png);
    background-position: left top;
}

.showgrid #content .leftColWrapper {
    padding-right: 0;
    border-right: solid 15px #fff386;
    background-image: url(http://cdn.last.fm/flatness/grids/grid_48.15.png);
    background-position: 15px top;
}

.showgrid .rightCol {
    background-image: url(http://cdn.last.fm/flatness/grids/grid_48.15.png);
    background-position: 15px top;
}

.showgrid .sic #content {
    background-image: url(http://cdn.last.fm/flatness/grids/grid_48.15.png);
    background-position: 15px top;
}

/*
    Stuff for all layouts
*/

#LastFooter {
    clear: both;
}

* html #LastFooter {
    height: 1%;
}

/*
    Default styles depending on place in the grid
*/

#page h2.heading {
    margin: 15px -15px 2px -15px;
    padding: 0;
    color: #96BE57;
    font-size: 18px;
    line-height: 13px;
    border-top: 1px dotted #ccc;
}
#page.lfmBlack h2.heading {
    color: #1b1b1b;
}

#page h2.heading .h2Wrapper {
    display: block;
    padding: 15px;
}

#page h2.heading .h2Wrapper a {
    text-decoration: none;
}
#page h2.heading .h2Wrapper a:hover {
    text-decoration: underline;
}
#page h2.heading .h2Wrapper a {
    color: #96BE57;
}
#page.lfmBlack h2.heading .h2Wrapper a {
    color: #1b1b1b;
}

#page div.fiflufi div.leftCol h2 small a,
#page div.fixed div.leftCol h2 small a {
    color: #0187c5;
}

div.fiflufi div.leftCol hr {
    clear: both;
    height: 2px;
    margin: 15px -15px 10px -15px;
    border: 0;
    border-top: 1px solid #ccc;
    background: #efefef;
    display: none;
}

#page div.fiflufi div.rightCol h2.heading,
#page div.fixed div.rightCol h2.heading {
    margin: 15px 0 10px 0;
    padding: 0;
    font-size: 13px;
    line-height: 12px;
}

#page div.fiflufi div.rightCol h2.heading .h2Wrapper,
#page div.fixed div.rightCol h2.heading .h2Wrapper {
    padding: 7px 0 0 0;
}

div.fiflufi div.leftCol a.seemore {
    margin: 5px 0 0 0;
    padding: 2px 0 2px 10px;
    background: url(http://cdn.last.fm/flatness/grey-more-btn.gif) no-repeat left top;
    float: right;
    text-decoration: none;
}

div.fiflufi div.leftCol a.seemore span {
    padding: 2px 30px 2px 0;
    background: url(http://cdn.last.fm/flatness/grey-more-btn.gif) no-repeat right top;
    font-size: 10px;
    color: #000;
}

div.fiflufi div.leftCol a.seemore:hover span {
    color: #666;
}

div.fiflufi div.rightCol a.seemore {
    float: right;
    margin: 5px 0 0 0;
    color: #0187c5;
    text-decoration: none;
}

span.moduleOptions {
    clear: both;
    display: block;
    text-align: right;
    color: #0187c5;
}

span.moduleOptionsLeft {
    text-align: left;
}

#page span.moduleOptions {
    display: block;
    height: 15px;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
}
#page span.moduleOptions a,
#page a span.moduleOptions {
    float: right;
    display: block;
    font-size: 11px;
    line-height: 14px;
    padding-right: 18px;
    margin-left: 9px;
    background-image: url(http://cdn.last.fm/flatness/see-more-arrow.2.png);
    background-repeat: no-repeat;
    background-position: right top;
}

/* End fluffy */

/* Recommended Stuff */

a.recommendedLink {
    color: #d51007;
    font-weight: bold;
    font-size: 12px;
}

a.recommendedLink .recommended_icon {
    margin: 0 4px -2px 0;
}

div.rightCol div.recommendedContent {
    margin: 0 0 15px 0;
}

#page div.rightCol div.recommendedContent h2.heading {
    border-top: 1px solid #f46862;
    margin: 0 0 12px 0;
    background: #ffefe7;
    color: #d51007;
}

#page div.rightCol div.recommendedContent h2.heading span.h2Wrapper {
    padding: 5px 10px;
}

/* Override */

div.full #content {
    margin-left: 0;
}

div.fiflufiSmall div.rightCol h2 {
    background: none;
    font-size: 12px;
    font-weight: bold;
}

div.fiflufiSmall div.rightCol h2 a {
    color: #96BE57;
}

/* */

div.fixed900 {
    width: 900px;
}

div.fixed900 div.rightCol {
    width: 300px;
}

div.fixed900 div.leftCol {
    margin-right: -330px;
}

div.fixed900 div.leftColWrapper {
    margin-right: 315px;
}

div.halfhalf {
    display: block;
    width: 50%;
    float: left;
    overflow: hidden;
}

#header, 
#headerWrapper {
    background-image: url('/img/ctest_banner.png'); 
	/* background-color: #EFF8E1;*/
    background-repeat: repeat-x;
}

.lfmBlack #header,
.lfmBlack #headerWrapper {
    background-image: url('http://cdn.last.fm/flatness/header/bg_header_black.png');
}

/* IE6 fix */
* html #header,
* html #headerWrapper {
    background-image: url('http://cdn.last.fm/flatness/header/bg_header_red.IE6.png');
}
* html .lfmBlack #header,
* html .lfmBlack #headerWrapper {
    background-image: url('http://cdn.last.fm/flatness/header/bg_header_black.IE6.png');
}

#header {
    height: 55px;
    /* hacky hacks */
    margin-left: 20px;
    margin-bottom: 8px;
    color: #fff;
    z-index: 99;
    line-height: 1;
    background-position: right top;
}

#headerWrapper {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
	background-position: left bottom;
    /* hacky hacks */
    margin-left: -20px;
    padding: 10px 15px 5px 5px;
    position: relative;
    height: 40px;
}

#header a {
    color: #96BE57;
}

#header a:hover {
    color: #96BE57;
}

#lastfmLogo {
    position: absolute;
    display: block;
    z-index: 10;
    top: 7px;
    left: 12px;
    width: 103px;
    height: 50px;
    text-indent: -9999px;
    overflow: hidden;
}

#lastfmLogo {
    background: url('http://cdn.last.fm/flatness/logo.6.png');
}

.lfmBlack #lastfmLogo {
    background: url('http://cdn.last.fm/flatness/logo_black.3.png');
}

/* Spiegel */

#header.spon #lastfmLogo {
    background: url('http://cdn.last.fm/flatness/spon_lastfm.png');
    left: 135px;
    width: 87px;
}

#spon_logo {
    position: absolute;
    top: 7px;
    left: 10px;
    display: block;
    width: 125px;
    height: 50px;
}


/*  Primary navivation */

#primaryNav {
	margin-top: -20px;
	padding-left: 182px;
}

#header.spon #primaryNav {
    padding-left: 220px;
}

#primaryNav li {
    position: relative;
    float: left;
    margin-top: 7px;
    font-weight: bold;
    font-size: 14px;
}

#primaryNav li a {
    float: left;
    height: 24px;
    padding: 9px 9px 0 9px;
}

/* Search */

#siteSearch {
    margin: 6px 0 0 12px;
    white-space: nowrap;
}
#siteSearch input,
#siteSearch select {
    vertical-align: middle;
    font-size: 11px;
}
#siteSearch input {
    padding: 2px;
    font-size: 10px;
}

#siteSearch input.submit {
    width: 26px;
    height: 21px;
    background: transparent url(http://cdn.last.fm/flatness/header/red_search.png) 0 0 no-repeat;
    border: 0;
}

.lfmBlack #siteSearch input.submit {
    background: transparent url(http://cdn.last.fm/flatness/header/black_search.png) 0 0 no-repeat;
}

#siteSearch input.submit:hover {
    background-position: 0 -21px;
    cursor: pointer;
}

/* id badge */

#idBadger {
    position: absolute;
    top: 12px;
    right: 15px;
    text-align: right;
    color: #EA9C94;
    font-size: 11px;
    line-height: 1.363636;
    height: 22px;
    overflow: visible;
    max-width: 200px;
}

.lfmBlack #idBadger {
    color: #fff;
}

#idBadger .messages {
    margin-left: 0.5em;
}

#page #idBadgerUser {
    float: right;
    height: 18px;
    line-height: 18px;
    padding: 2px 7px 2px 2px;
    text-decoration: none;
    vertical-align: top;
    overflow: hidden;
    background: url(http://cdn.last.fm/flatness/idbadger_left.3.png) left top no-repeat;
    margin-right: 21px;
}
#page.lfmBlack #idBadgerUser {
    background-image: url(http://cdn.last.fm/flatness/idbadger_left_black.2.png);
}

* html #idBadgerUser {
    margin-right: 11px;
}

#idBadgerUser span {
    vertical-align: top;
    color: #fff;
}

#idBadgerUser:hover span {
    text-decoration: underline;
}

#idBadgerUser .userImage {
    padding: 0;
    border: 0;
    vertical-align: middle;
    margin: 0 3px 0 2px;
    position: static;
}

#idBadgerUser img {
    padding: 0;
    border: 0;
    position: relative;
    top: 1px;
    left: 0;
}

* html #idBadgerUser img {
    position: static;
}

* + html #idBadgerUser img {
    position: static;
}

#idBadgerDropper {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 22px;
    background: #a3130c;
    text-align: center;
    font-size: 0;
    text-indent: -9999px;
    background: url(http://cdn.last.fm/flatness/idbadger_dropdown.3.png) right top no-repeat;
}
.lfmBlack #idBadgerDropper {
    background-image: url(http://cdn.last.fm/flatness/idbadger_dropdown_black.2.png);
}

#idBadger ul {
    display: none;
}

#idBadgerDropDown,
#langSelector.js {
    background: #8a0e09;
    display: block;
    margin: -0;
    padding: 5px 0 10px 0;
    border: 1px solid #740300;
    border-top: 0;
    font-size: 11px;
    line-height: 1.181818em;
}
.lfmBlack #idBadgerDropDown,
.lfmBlack #langSelector.js {
    background: #404040;
    border-color: #161616;
}

#idBadgerDropDown li,
#langSelector.js li {
    display: block;
}

#idBadgerDropDown a,
#langSelector.js a {
    display: block;
    padding: 3px 10px;
    color: #fff;
}

* html #idBadgerDropDown a,
* html #langSelector.js a {
    display: inline-block;
}

#langSelector.js a {
    padding: 5px 10px;
}

#langSelector.js img {
    margin-right: 0.4em;
}

#idBadgerDropDown a:hover,
#langSelector.js a:hover {
    background: #96BE57;
    text-decoration: none;
    cursor: pointer;
}
.lfmBlack #idBadgerDropDown a:hover,
.lfmBlack #langSelector.js a:hover {
    background: #161616;
}

#headLinks {
    position: absolute;
    bottom: 10px;
    right: 16px;
    text-align: right;
    color: #ffc4bb;
}

#headLinks li {
    float: left;
    display: inline;
    font-size: 12px;
    line-height: 1.2em;
    color: #ffc4bb;
}

.lfmBlack #headLinks li {
    color: #ddd;
}

#headLinks a {
    display: inline;
    float: left;
    margin: 0 0 0 3px;
    padding: 0 3px 0 0;
    color: #9C9B50;
}

.lfmBlack #headLinks,
.lfmBlack #headLinks a {
    color: #ddd;
}

#headLinks li.last {
    border-right: none;
} 

#headLinks a:hover {
    color: #fff;
}
#headLinks img {
    float: left;
    display: inline;
    vertical-align: middle;
    line-height: 1.2em;
    margin-right: 2px;
}

* html #headLinks {
    bottom: 13px;
}

* + html #headLinks {
    bottom: 13px;
}

/* breadcrumb */

#header div.breadcrumb {
    position: absolute;
    top: 65px;
    padding: 0 0 0 15px;
    line-height: 30px;
    color: #999;
    font-size: 11px;
    font-weight: bold;
}

#header div.breadcrumb a {
    color: #0187c5;
    text-decoration: none;
}

#header div.breadcrumb a:hover {
    text-decoration: underline;
}

#header div.breadcrumb span {
    color: #000;
}

#header .lfmDropDownBody {
    display: none;
}

#langSelector.nojs {
    display: block;
    margin: 10px 0;
    border: solid 1px #fff200;
    padding: 3px 3px 4px 3px;
    background: #fff799;
    text-align: center;
    font-size: 11px;
    line-height: 1.181818em;
}

#langSelector.nojs li {
    display: inline;
    margin-right: 0.727273em;
}

