<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Nevada</title>
<link href="img/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="container">
	<div id="header">
    	<div id="logo">
        	<a href="/">
                <span id="sitename">Nevada</span>
            </a>  
		<div class="textalign-right">
                	<a href="/About">关于</a>&nbsp;
                	<a href="/Blog">Blog</a>
		</div>
  
        </div>
  </div>
	<div id="container-content">
    	<div id="breadcrumbs">
        	<div id="breadcrumbs-top"></div>
            <div id="breadcrumbs-mid">
                <table style="font-size:14px;">
                	<tr>
                    	<td>
                            <a href="/">首页</a>&nbsp;
			    {% if UserLoggedIn %}
				 <a href="/user/{{UserNickName|escape}}">我的首页</a>&nbsp;
				 <a href="/">待完成项目</a>&nbsp;
				 <a href="/">已完成项目</a>&nbsp;
				 <a href="/FindFriend">Friend</a>
		            {% endif %}

			</td>

                    	<td class="textalign-right">
                            {% if not UserLoggedIn %}
							<img src="/img/favb16.png">&nbsp;<a href="/Login">登录</a>&nbsp;或&nbsp;<a href="/SignIn">注册</a>
							{% endif %}
							{% if UserLoggedIn %}
							{{ UserNickName }}
							<a href="/user/{{UserNickName}}/setting">{{UserNickName}}的设置</a>
							<a href="/SignOut">Logout</a>
							{% endif %}							
							<em style="color:#86a05f"></em>
						</td>
					</tr>
                </table>
            </div>
            <div id="breadcrumbs-bot"></div>
		</div>
        <div id="content-holder">
        	<div id="leftside">
            	<div id="featuredcode">
                	<div id="featuredcode-top"></div>
                   	<div id="featuredcode-mid">
                    	<table>
                        	<tr>
							   <td id="featuredcodedes">
									<h2 class="posttitle" style="font-weight:normal;">查找及添加与您志同道合的朋友！</h2>
									<p>
									{% for tarsusaPeople in tarsusaPeopleCollection %}
							        	<ul>
													<a href="/user/{{tarsusaPeople.user|escape}}">{{ tarsusaPeople.user|escape }}</a>
													加入时间：{{ tarsusaPeople.datejoinin|escape }}
										<span class="text_tag"<a href="/AddFriend/{{tarsusaPeople.key.id}}" class="x">加为朋友</a><br />

											
									   	</ul>
									{% endfor %}
									</p>
                              	</td>
							</tr>
						</table>                                                    
                    </div>
                   	<div id="featuredcode-bot"></div>
                </div>
                
				
				<div id="tagcloud">
                    <div id="tagcloud-top"></div>
                    <div id="tagcloud-mid">
                    	<h2 class="posttitle">{{ UserNickName }}的朋友</h2>
                        <div id="thecloud">
                        {{ UserFriends }}
						</div>
                    </div>
                    <div id="tagcloud-bot"></div>
                </div>
				
				<table id="latestcodes">
                    <tr>
                        <td class="latestcode">
                            <div class="latestcode-top"></div>
                            <div class="latestcode-mid">
                            	<h2 class="posttitle"><a href="/">尚未完成</a></h2>
							  <p>
							    {% if AnonymousVisitor %}
							    	{% for tarsusaItem_UserToDoItem in tarsusaItemCollection_UserToDoItems %}
									<a href="/user/{{tarsusaItem_UserToDoItem.user|escape}}">{{ tarsusaItem_UserToDoItem.user }}</a> 要做 <a href="/i/{{ tarsusaItem_UserToDoItem.key.id }}">{{ tarsusaItem_UserToDoItem.name|escape }}</a><br />
								{% endfor %}
							    
							    {% else %}
							    
							    
							    {% for tarsusaItem_UserToDoItem in tarsusaItemCollection_UserToDoItems %}
									<input type="checkbox" name="checkboxname" onchange="location.href = '/doneItem/{{tarsusaItem_UserToDoItem.key.id}}'">
									<a href="/i/{{ tarsusaItem_UserToDoItem.key.id }}">{{ tarsusaItem_UserToDoItem.name|escape }}</a>
									<a href="/undoneItem/{{tarsusaItem_UserToDoItem.key.id}}" class="x">x</a><br />
							    {% endfor %}							  
							    {% endif %}
							  <br /><a href="/">(Read More)</a></p>
                            </div>
                            <div class="latestcode-bot"></div>
                        </td>
                        <td class="latestcode">
                            <div class="latestcode-top"></div>
                            <div class="latestcode-mid">
                            	<h2 class="posttitle"><a href="/">已经完成</a></h2>
								<p>
								{% if AnonymousVisitor %}
							    	{% for tarsusaItem_UserDoneItem in tarsusaItemCollection_UserDoneItems %}
									<a href="/user/{{tarsusaItem_UserDoneItem.user|escape}}">{{ tarsusaItem_UserDoneItem.user }}</a> 做完了 <a href="/i/{{ tarsusaItem_UserToDoItem.key.id }}">{{ tarsusaItem_UserDoneItem.name|escape }}</a><br />
								{% endfor %}
							    
							    	{% else %}
								
								{% for tarsusaItem_UserDoneItem in tarsusaItemCollection_UserDoneItems %}
											<img src="/img/accept16.png">
											<a href="/i/{{ tarsusaItem_UserDoneItem.key.id }}">{{ tarsusaItem_UserDoneItem.name|escape }}</a>
											<a href="/undoneItem/{{tarsusaItem_UserDoneItem.key.id}}" class="x">撤销</a><br />
								{% endfor %}
								{% endif %}
								<br /><a href="/">(Read More)</a></p>
                            </div>
                            <div class="latestcode-bot"></div>
                        </td>
                    </tr>                            
                    <tr>
                        <td class="latestcode">
                            <div class="latestcode-top"></div>
                            <div class="latestcode-mid">
                            	<h2 class="posttitle"><a href="/">朋友动态</a></h2>
								<p>突然让我想起应该把公开的状态多调出一档... <a href="index.html">(Read More)</a></p>
                            </div>
                            <div class="latestcode-bot"></div>
                        </td>
                        <td class="latestcode">
                            <div class="latestcode-top"></div>
                            <div class="latestcode-mid">
                            	<h2 class="posttitle"><a href="index.html">统计信息</a></h2>
								<p>
								总事项：{{ UserTotalItems }} <br />
								已完成事项：{{ UserDoneItems }} <br />
								待完成事项：{{ UserToDoItems }} <br />
								完成百分比：{{ UserDonePercentage }} % <br />
								
								</p>
                            </div>
                            <div class="latestcode-bot"></div>
                        </td>
                    </tr>
                </table>         

            </div>
            
            <div id="rightside">
            	<div id="googlead">
                	<div id="googlead-top"></div>
                    <div id="googlead-mid">
                    
                    			<!--Remove the next few lines to place an ad-->
                    			<br />

                    </div>
                    <div id="googlead-bot"></div>
                </div>
                <div id="codelist">
                	<div id="codelist-top"></div>
                	<div id="codelist-mid">
                    	<h2 class="posttitle">{{UserNickName}}</h2>
                        <ul>
                            <li><a href="/Add">Add Item</a></li>
                            <li><a href="/donelog">Done Log</a></li>
                            <li><a href="/Statstics">Statstics</a></li>
                        </ul>
                    	<h2 class="posttitle">Connections</h2>
                        <ul>
                            <li><a href="index.html">My Friends</a></li>
                            <li><a href="index.html">Find a Friend</a></li>
                            <li><a href="index.html">More.</a></li>
                        </ul>                        
                    </div>
                	<div id="codelist-bot"></div>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
        <div id="copy">
            <div id="copy-top"></div>
            <div id="copy-mid">
                <small>&copy; Original Designed by <a href="http://dodesign.us">doDesign</a>&nbsp; CNBorn, 2008, Powered by Google App Engine</small>            
            </div>
          <div id="copy-bot"></div>
        </div>
    </div>
	<div id="container-bottom"></div>
</div>
</body>
</html>
