{% extends "pages/base.html" %}
{% block title %} Nevada {% endblock title %}

		{% block content-holder %}
        	<div id="leftside">
            	<div id="featuredcode">
                	<div id="featuredcode-top"></div>
                   	<div id="featuredcode-mid">
                    	<table>
                        	<tr>
							   <td id="featuredcodedes">
									<h2 class="posttitle" style="font-weight:normal;">您好，{{ UserNickName }}， 今天</h2>
				    - <strong class="posttitle">{{ htmltag_today }}</strong>
									<p>
									{% for tarsusaItem_DailyRoutine in tarsusaItemCollection_DailyRoutine %}
							        	<ul>
												{% if tarsusaItem_DailyRoutine.donetoday %}
													<img src="/img/accept16.png">												
													{{ tarsusaItem_DailyRoutine.name|escape }}
													<span class="text_tag"<a href="/undoneItem/{{tarsusaItem_DailyRoutine.key.id}}" class="x">撤销</a><br />
												{% else %}
													<input type="checkbox" name="checkboxname" onchange="location.href='/doneItem/{{tarsusaItem_DailyRoutine.key.id}}'";>
													{{ tarsusaItem_DailyRoutine.name|escape }}
												{% endif %}

											
																		    	</ul>
									{% endfor %}
									<ul>{{ htmltag_DoneAllDailyRoutine }}</ul>
									</p>
                              	</td>
							</tr>
						</table>                                                    
                    </div>
                   	<div id="featuredcode-bot"></div>
                </div>
                
				
				<div id="tagcloud">
                    <div id="tagcloud-top"></div>
                    <div id="tagcloud-mid">
                    	<h2 class="posttitle">用户标签</h2>
                        <div id="thecloud">
                        {{ UserTags }}
						</div>
                    </div>
                    <div id="tagcloud-bot"></div>
                </div>
				
				<table id="latestcodes">
                    <tr>
                        <td class="latestcode">
                            <div class="latestcode-top"></div>
                            <div class="latestcode-mid">
                            	<h2 class="posttitle"><a href="/">尚未完成</a></h2>
							  <p>
							    {% if AnonymousVisitor %}
							    	{% for tarsusaItem_UserToDoItem in tarsusaItemCollection_UserToDoItems %}
									<a href="/user/{{tarsusaItem_UserToDoItem.user|escape}}">{{ tarsusaItem_UserToDoItem.user }}</a> 要做 <a href="/i/{{ tarsusaItem_UserToDoItem.key.id }}">{{ tarsusaItem_UserToDoItem.name|escape }}</a><br />
								{% endfor %}
							    
							    {% else %}
							    
							    
							    {% for tarsusaItem_UserToDoItem in tarsusaItemCollection_UserToDoItems %}
									<input type="checkbox" name="checkboxname" onchange="location.href = '/doneItem/{{tarsusaItem_UserToDoItem.key.id}}'">
									<a href="/i/{{ tarsusaItem_UserToDoItem.key.id }}">{{ tarsusaItem_UserToDoItem.name|escape }}</a>
									<a href="#;" onclick="if (confirm('确认删除？{{tarsusaItem_UserToDoItem.name|escape}}')) {location.href = '/removeItem/{{tarsusaItem_UserToDoItem.key.id}}';}" class="x">x</a><br />

							    {% endfor %}							  
							    {% endif %}
							  <br /><a href="/">(Read More)</a></p>
                            </div>
                            <div class="latestcode-bot"></div>
                        </td>
                        <td class="latestcode">
                            <div class="latestcode-top"></div>
                            <div class="latestcode-mid">
                            	<h2 class="posttitle"><a href="/">已经完成</a></h2>
								<p>
								{% if AnonymousVisitor %}
							    	{% for tarsusaItem_UserDoneItem in tarsusaItemCollection_UserDoneItems %}
									<a href="/user/{{tarsusaItem_UserDoneItem.user|escape}}">{{ tarsusaItem_UserDoneItem.user }}</a> 做完了 <a href="/i/{{ tarsusaItem_UserToDoItem.key.id }}">{{ tarsusaItem_UserDoneItem.name|escape }}</a><br />
								{% endfor %}
							    
							    	{% else %}
								
								{% for tarsusaItem_UserDoneItem in tarsusaItemCollection_UserDoneItems %}
											<img src="/img/accept16.png">
											<a href="/i/{{ tarsusaItem_UserDoneItem.key.id }}">{{ tarsusaItem_UserDoneItem.name|escape }}</a>
											<a href="/undoneItem/{{tarsusaItem_UserDoneItem.key.id}}" class="x">撤销</a><br />
								{% endfor %}
								{% endif %}
								<br /><a href="/">(Read More)</a></p>
                            </div>
                            <div class="latestcode-bot"></div>
                        </td>
                    </tr>                            
                    <tr>
                        <td class="latestcode">
                            <div class="latestcode-top"></div>
                            <div class="latestcode-mid">
                            	<h2 class="posttitle"><a href="/">朋友动态</a></h2>
								<p>
								{{ UserFriendsActivities }}
								
								</p>
                            </div>
                            <div class="latestcode-bot"></div>
                        </td>
                        <td class="latestcode">
                            <div class="latestcode-top"></div>
                            <div class="latestcode-mid">
                            	<h2 class="posttitle"><a href="index.html">统计信息</a></h2>
								<p>
								总事项：{{ UserTotalItems }} <br />
								已完成事项：{{ UserDoneItems }} <br />
								待完成事项：{{ UserToDoItems }} <br />
								完成百分比：{{ UserDonePercentage }} % <br />
								
								</p>
                            </div>
                            <div class="latestcode-bot"></div>
                        </td>
                    </tr>
                </table>         

            </div>
            
            <div id="rightside">
            	<div id="googlead">
                	<div id="googlead-top"></div>
                    <div id="googlead-mid">
                    
                    			<!--Remove the next few lines to place an ad-->
                    			<br />

                    </div>
                    <div id="googlead-bot"></div>
                </div>
                <div id="codelist">
                	<div id="codelist-top"></div>
                	<div id="codelist-mid">
                    	<h2 class="posttitle">{{UserNickName}}</h2>
                        <ul>
                            <li><a href="/Add">Add Item</a></li>
                            <li><a href="/Statstics">Statstics</a></li>
                        </ul>
                    </div>
                	<div id="codelist-bot"></div>
                </div>
            </div>
        {% endblock content-holder %}

