{% extends "pages/base.html" %}
{% block title %} CheckNerds {% endblock title %}

		{% block content-holder %}
        	<div id="leftside">
            	<div id="featuredcode">
                	<div id="featuredcode-top"></div>
                   	<div id="featuredcode-mid">
                    	<table>
                        	<tr>
							   <td id="featuredcodedes">
									<h2 class="posttitle" style="font-weight:normal;">{{ UserNickName }}您好， 今天</h2>
				    - <strong class="posttitle">{{ htmltag_today }}</strong>
									<script type="text/javascript">
									window.onload = function() {
									
									{% if not AnonymousVisitor %}
										$('#featuredcode-mid').animate({height: 'hide', opacity: 'hide'}, 'slow', function(){
													 $('#featuredcode-mid').load('/ajax/frontpage_getdailyroutine', {nullid: Math.round(Math.random()*1000)}, function(){
													   $('#featuredcode-mid').animate({height: 'show', opacity: 'show'}, 'slow');
																										 });
																			 });
																										
										$('#latestcodes').load('/ajax/frontpage_bottomcontents');
										$('#div_itemstats').load('/ajax/frontpage_getitemstats');
										$('#div_friendstats').load('/ajax/frontpage_getfriendstats');
									
									{% else %}
										$('#featuredcode-mid').animate({height: 'hide', opacity: 'hide'}, 'slow', function(){
													 $('#featuredcode-mid').load('/ajax/frontpage_introforanonymous', {nullid: Math.round(Math.random()*1000)}, function(){
													   $('#featuredcode-mid').animate({height: 'show', opacity: 'show'}, 'slow');
													   													 });
																		 });
																									
										$('#latestcodes').load('/ajax/frontpage_introbottomcontentsforanonymous');			
									
									{% endif %}
									
									}
																									
									</script>
								
								
                              	</td>
							</tr>
						</table>                                                    
                    </div>
                   	<div id="featuredcode-bot"></div>
                </div>
                
				
				<div id="tagcloud">
                    <div id="tagcloud-top"></div>
                    <div id="tagcloud-mid">
                    	<h2 class="posttitle">用户标签</h2>
                        <div id="thecloud">
                        {{ UserTags }}
						</div>
                    </div>
                    <div id="tagcloud-bot"></div>
                </div>
				
				<table id="latestcodes">
					<tr>
                        <td class="latestcode">
                            <div class="latestcode-top"></div>
                            <div class="latestcode-mid">
                            	<h2 class="posttitle"><a href="/">尚未完成</a></h2>
							  <p>正在载入……<br /></p>
                            </div>
                            <div class="latestcode-bot"></div>
                        </td>
                        <td class="latestcode">
                            <div class="latestcode-top"></div>
                            <div class="latestcode-mid">
                            	<h2 class="posttitle"><a href="/">已经完成</a></h2>
								<p>正在载入……</p>
                            </div>
                            <div class="latestcode-bot"></div>
                        </td>
                    </tr>                            
				</table>         

            </div>
            
            <div id="rightside">
            	<div id="codelist">
                	<div id="codelist-top"></div>
                	<div id="codelist-mid">
                    	<h2 class="posttitle">{{UserNickName}}</h2>
                        <ul>
                            <li><img src="/img/add.png"><a href="/ajax/allpage_additem/?TB_iframe=true&height=400&width=400" class="thickbox" title="添加新项目">添加项目</a></li>
							<li><img src="/img/globe_accept.png"><a href="#">完成日志</a></li>
							<li><img src="/img/info.png"><a href="#">用户信息</a></li>
                        </ul>
                    </div>
                	<div id="codelist-bot"></div>
                </div>

				<div id="div_itemstats">
					<div id="codelist">
						<div id="codelist-top"></div>
						<div id="codelist-mid">
							<h2 class="posttitle">统计信息</h2>
							<ul>
							正在载入
							</ul>
						</div>
						<div id="codelist-bot"></div>
					</div>
				</div>
				
				<div id="div_friendstats">
					<div id="codelist">
						<div id="codelist-top"></div>
						<div id="codelist-mid">
							<h2 class="posttitle">朋友动态</h2>
							<ul>
							正在载入
							</ul>
						</div>
						<div id="codelist-bot"></div>
					</div>
				</div>

            </div>
        {% endblock content-holder %}

