{% extends "base.html" %}
{% block title %} CheckNerds - {{ UserNickName }}的朋友 {% endblock title %}

        	{% block content-holder %}

			
			
			<div id="leftside">
            	<div id="featuredcode2">
                	<div id="featuredcode2-top"></div>
                   	<div id="featuredcode2-mid">

						<div id="singleleft">
							<h2 class="posttitle">{{ UserNickName }}的朋友动态</h2>
							<div id="div_friendstats" style="padding-top:10px; padding-left: 10px;">
								<ul class="mbt">
									{% if not UserFriendsActivities %}
										<li>暂无友邻公开项目</li>
									{% endif %}
									{% for each_friend_item in UserFriendsActivities %}
									{% ifequal each_friend_item.category "done" %}						
									<li class="mbtl"><a href="/user/{{each_friend_item.userid}}"><img src="{{each_friend_item.avatar}}" width=48 height=48></a></li><li class="mbtr"><span class="starb"><a href="/user/{{each_friend_item.userid}}">{{each_friend_item.userdispname}}</a><span class="pl"> 完成了 <a href="/item/{{each_friend_item.id}}">{{each_friend_item.name}}</a></span></span></li>
									{% else %}
									<li class="mbtl"><a href="/user/{{each_friend_item.userid}}"><img src="{{each_friend_item.avatar}}" width=48 height=48></a></li><li class="mbtr"><span class="starb"><a href="/user/{{each_friend_item.userid}}">{{each_friend_item.userdispname}}</a><span class="pl"> 要做 <a href="/item/{{each_friend_item.id}}">{{each_friend_item.name}}</a></span></span></li>
									{% endifequal %}
									{% endfor %}
								</ul>
								</div>
								
						</div>

						<div id="singleleft">
							<div id="main" style="clear:both;">
							<div id="tablem" style="clear:both;">
							<div id="in_tablem" style="clear:both;">

							<h2 class="posttitle" style="font-weight:normal;padding-bottom: 5px;">Checknerds用户随机展示</h2>
								{% for tarsusaPeople in tarsusaPeopleCollection %}
									<dl class="obu">
									<dt><a href="/user/{{tarsusaPeople.key.id}}">
									{% if tarsusaPeople.avatar %}
										<img src='/image?avatar={{tarsusaPeople.key.id}}' width=32 height=32 alt="{{tarsusaPeople.dispname|escape }}">
									{% else %}
										<img src='/img/default_avatar.jpg' width=32 height=32>
									{% endif %}
									</a></dt>


									<dd><a href="/user/{{tarsusaPeople.key.id|escape}}">{{ tarsusaPeople.dispname|escape }}</a>
									</dd>
							
									</dl>
								{% endfor %}	
							</div></div></div>
							<div style="clear:both;"></div>
						</div>



                	</div>
                	<div id="featuredcode2-bot"></div>
            	</div>
			</div>
                
	

            <div id="rightside">
						<div id="codelist">
						<h2 class="posttitle">{{UserNickName}}的朋友</h2>
						<p>
							<div id="tablem2">
								<div id="in_tablem2">
								{% for UsersFriend in UserFriends %}
								{% if UsersFriend.avatar %}
								<dl class="obu"><dt><a href="/user/{{UsersFriend.key.id}}"><img src="/image?avatar={{UsersFriend.key.id}}" width=32 height=32></a></dt>
								{% else %}	
								<dl class="obu"><dt><a href="/user/{{UsersFriend.key.id}}"><img src="'/img/default_avatar.jpg'" width=32 height=32></a></dt>								
									
								{% endif %}
								<dd>{{UsersFriend.dispname}}</a><br />
								<a href="#;" onclick="if (confirm('Are you sure to remove {{UsersFriend.user.nickname}}')) {location.href = '/RemoveFriend/{{UsersFriend.key.id}}';}" class="x">x</a></dd></dl>
								{% endfor %}

	
								
								
								</div>
							</div>
							<br />
						</p>
						</div>
			</div>        
		{% endblock content-holder %}

