					<tr>
                        <td class="latestcode">
                            <div class="latestcode-top"></div>
                            <div class="latestcode-mid">
                            	<h2 class="posttitle"><a href="/">尚未完成</a></h2>
							  <p>
							    {% if AnonymousVisitor %}
							    	{% for tarsusaItem_UserToDoItem in tarsusaItemCollection_UserToDoItems %}
									<a href="/user/{{tarsusaItem_UserToDoItem.user|escape}}">{{ tarsusaItem_UserToDoItem.user }}</a> 要做 <a href="/i/{{ tarsusaItem_UserToDoItem.key.id }}">{{ tarsusaItem_UserToDoItem.name|escape }}</a><br />
								{% endfor %}
							    
							    {% else %}
							   
							   	<div id="todoitems">
							    {% for tarsusaItem_UserToDoItem in tarsusaItemCollection_UserToDoItems %}
									<input type="checkbox" name="checkboxname" onchange="ajax_doneItem('/doneItem/{{tarsusaItem_UserToDoItem.key.id}}')">
									<a href="/i/{{ tarsusaItem_UserToDoItem.key.id }}">{{ tarsusaItem_UserToDoItem.name|escape }}</a>
									<a href="#;" onclick="if (confirm('确认删除？{{tarsusaItem_UserToDoItem.name|escape}}')) {location.href = '/removeItem/{{tarsusaItem_UserToDoItem.key.id}}';}" class="x">x</a><br />
							    {% endfor %}
								</div>
							    {% endif %}
							  <br /><a href="/user/{{UserNickName|escape}}/todo">查看更多</a></p>
                            </div>
                            <div class="latestcode-bot"></div>
                        </td>
                        <td class="latestcode">
                            <div class="latestcode-top"></div>
                            <div class="latestcode-mid">
                            	<h2 class="posttitle"><a href="/">已经完成</a></h2>
								<p>
								{% if AnonymousVisitor %}
							    	{% for tarsusaItem_UserDoneItem in tarsusaItemCollection_UserDoneItems %}
									<a href="/user/{{tarsusaItem_UserDoneItem.user|escape}}">{{ tarsusaItem_UserDoneItem.user }}</a> 做完了 <a href="/i/{{ tarsusaItem_UserToDoItem.key.id }}">{{ tarsusaItem_UserDoneItem.name|escape }}</a><br />
								{% endfor %}
							    
							    	{% else %}
								
								{% for tarsusaItem_UserDoneItem in tarsusaItemCollection_UserDoneItems %}
											<img src="/img/accept16.png">
											<a href="/i/{{ tarsusaItem_UserDoneItem.key.id }}">{{ tarsusaItem_UserDoneItem.name|escape }}</a>
											<a href="#;" onclick="ajax_undoneItem('/undoneItem/{{tarsusaItem_UserDoneItem.key.id}}')" class="x">撤销</a><br />
								{% endfor %}
								{% endif %}
								<br /><a href="/user/{{UserNickName}}/done">查看更多</a></p>
                            </div>
                            <div class="latestcode-bot"></div>
                        </td>
                    </tr>                            
                    <tr>
                        <td class="latestcode">
                            <div class="latestcode-top"></div>
                            <div class="latestcode-mid">
                            	<h2 class="posttitle"><a href="/">朋友动态</a></h2>
								<p>
								{{ UserFriendsActivities }}
								
								</p>
                            </div>
                            <div class="latestcode-bot"></div>
                        </td>
                        <td class="latestcode">
                            <div class="latestcode-top"></div>
                            <div class="latestcode-mid">
                            	<h2 class="posttitle"><a href="index.html">统计信息</a></h2>
								<p>
								总事项：{{ UserTotalItems }} <br />
								已完成事项：{{ UserDoneItems }} <br />
								待完成事项：{{ UserToDoItems }} <br />
								完成百分比：{{ UserDonePercentage }} % <br />
								
								</p>
                            </div>
                            <div class="latestcode-bot"></div>
                        </td>
                    </tr>

<script type="text/javascript">
	function ajax_undoneItem(strLink){
			$.ajax({type: "GET", url: strLink ,success: function(msg){}}); 
			$('#latestcodes').load('/ajax/frontpage_bottomcontents');
			return false;
		}

		function ajax_doneItem(strLink){
				$.ajax({type: "GET", url: strLink ,success: function(msg){} }); 
				$('#latestcodes').load('/ajax/frontpage_bottomcontents');
				return false;
		}
</script>

