	<ul>
	{% for tarsusaItem_UserDoneItem in tarsusaItemCollection_UserDoneItems %}		
		<li class="{% if forloop.counter|divisibleby:2 %}timestamp {% else %}odd{% endif %}">
		<input type="checkbox" name="checkboxname" onchange="ajax_doneItem('/doneItem/{{tarsusaItem_UserDoneItem.key.id}}')">
		<a href="/item/{{ tarsusaItem_UserDoneItem.id }}">{{ tarsusaItem_UserDoneItem.name|escape }}</a>
		 | <span class="date">{{ tarsusaItem_UserDoneItem.expectdate|escape }}</span>
		</li>
	{% endfor %}	
	</ul>

