{% if UserFriendsActivities %}
	{% for each_friend_item in UserFriendsActivities %}
		{% ifequal each_friend_item.category "done" %}		
			<li><a href="/user/{{each_friend_item.userid}}">{{each_friend_item.userdispname}}</a> 完成了 <a href="/item/{{each_friend_item.id}}">{{each_friend_item.name}}</a></li>
		{% else %}		
			<li><a href="/user/{{each_friend_item.userid}}">{{each_friend_item.userdispname}}</a> 要做 <a href="/item/{{each_friend_item.id}}">{{each_friend_item.name}}</a></li>
		{% endifequal %}
	{% endfor %}
{% else %}
	<li>当前没有朋友项目信息</li>
{% endif %}
