					<tr>
                        <td class="latestcode">
                            <div class="latestcode-top"></div>
                            <div class="latestcode-mid">
                            	<h2 class="posttitle"><a href="/">尚未完成</a></h2>
							  <p>
							  <ul>
							   	<div id="todoitems">
							    {% for tarsusaItem_UserToDoItem in tarsusaItemCollection_UserToDoItems %}
									<li><input type="checkbox" name="checkboxname" onchange="ajax_doneItem('/doneItem/{{tarsusaItem_UserToDoItem.key.id}}')">
									<a href="/i/{{ tarsusaItem_UserToDoItem.key.id }}">{{ tarsusaItem_UserToDoItem.name|escape }}</a>
									<a href="#;" onclick="if (confirm('确认删除？{{tarsusaItem_UserToDoItem.name|escape}}')) {location.href = '/removeItem/{{tarsusaItem_UserToDoItem.key.id}}';}" class="x">x</a></li>
							    {% endfor %}
								</div>
							   </ul>

							  <br /><a href="/user/{{UserID|escape}}/todo">查看更多</a></p>
                            </div>
                            <div class="latestcode-bot"></div>
                        </td>
                        
						<td class="latestcode">
                            <div class="latestcode-top"></div>
                            <div class="latestcode-mid">
                            	<h2 class="posttitle"><a href="/">已经完成</a></h2>
								<ul>
								{% for tarsusaItem_UserDoneItem in tarsusaItemCollection_UserDoneItems %}
											<li><img src="/img/accept16.png">
											<a href="/i/{{ tarsusaItem_UserDoneItem.key.id }}">{{ tarsusaItem_UserDoneItem.name|escape }}</a>
											<a href="#;" onclick="ajax_undoneItem('/undoneItem/{{tarsusaItem_UserDoneItem.key.id}}')" class="x">撤销</a></li>
								{% endfor %}
								</ul>
								<br /><a href="/user/{{UserID}}/done">查看更多</a>
                            </div>
                            <div class="latestcode-bot"></div>
                        </td>
                    </tr>                            

<script type="text/javascript">
	function ajax_undoneItem(strLink){
			$.ajax({type: "GET", url: strLink ,success: function(msg){}}); 
			$('#latestcodes').load('/ajax/frontpage_bottomcontents');
			$('#div_itemstats').load('/ajax/frontpage_getitemstats');
			return false;
		}

	function ajax_doneItem(strLink){
			$.ajax({type: "GET", url: strLink ,success: function(msg){} }); 
			$('#latestcodes').load('/ajax/frontpage_bottomcontents');
			$('#div_itemstats').load('/ajax/frontpage_getitemstats');
			return false;
		}
</script>

