{% extends "base.html" %}
{% block title %} Nevada - {{ singlePageTitle }} {% endblock title %}
        <div id="content-holder">
		{% block content-holder %}
			<div id="singlepostholder">
            	<div id="top"></div>
                <div id="mid">
                    <div id="singleright">
                        <div id="googlead">
                            <div id="googlead-top"></div>
                            <div id="googlead-mid">
                            
                    			<!--Remove the next few lines to place an ad-->
                    			<br />
								<div style="margin-top:70px;">
                                	
									<div id="btns"><a href="/ajax" title="test">ajaxsuperpowertest</a> <a href="http://log.7thpark.com/demo/jload/view.asp?i=7thpark" title="·¢ËÍÊý×Ö[Ó¢ÎÄ×ÖÄ¸]×éºÏ±äÁ¿">·¢ËÍÊý×Ö[Ó¢ÎÄ×ÖÄ¸]×éºÏ±äÁ¿</a></div>
								
								</div>

                            </div>
                            <div id="googlead-bot"></div>
                        </div>
                    </div>

                    <div id="singleleft">
					</div>
                </div>
                <div id="bot"></div>
            </div>			
        {% endblock content-holder %}
