<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title%} {% endblock %} </title>

<link rel="shortcut icon" href="{{ PrefixCSSdir }}img/favicon.ico" >
<link href="{{ PrefixCSSdir }}css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css" media="all">@import "{{ PrefixCSSdir }}css/thickbox.css";</style>

<script type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="/js/thickbox.js"></script>

<link rel="stylesheet" href="{{PrefixCSSdir}}css/pagination.css" />
<script type="text/javascript" src="/js/jquery.pagination.js"></script>
</head>

{% if outputFeed %}
	<link rel="alternate" type="application/rss+xml" title="{{ outputFeedTitle }}" href="{{ outputFeedURL }}" />
{% endif %}

<body>

<div id="container">
	<div id="header">
    	<div id="logo">
        	<a href="/">
                <span id="sitename">CheckNerds</span>
            </a>  
		<div class="textalign-right">
                	<a href="/about">关于</a>&nbsp;|
                	<a href="/docs/">文档中心</a>&nbsp;|
                	<a href="/labs/">Labs</a>&nbsp;|
                	<a href="/blog">Blog</a>&nbsp;|
					<a href="/guestbook">我有意见!</a>
		</div>
  
        </div>
  </div>
	<div id="container-content">

		<div id="breadcrumbs">
        	<div id="breadcrumbs-top"></div>
            <div id="breadcrumbs-mid">
                <table style="font-size:14px;">
                	<tr>
                    	<td>
                            <a href="/">首页</a>&nbsp;
							{% if UserLoggedIn %}
							 <a href="/user/{{UserID|escape}}">我的页面</a>&nbsp;
							 <a href="/user/{{UserID|escape}}/todo">待完成项目</a>&nbsp;
							 <a href="/user/{{UserID|escape}}/done">已完成项目</a>&nbsp;
							 <a href="/FindFriend">我的朋友</a>
							 <a href="/donelog/">完成日志</a>
							{% endif %}
			</td>

                    	<td class="textalign-right">
                            {% if not UserLoggedIn %}
							<img src="/img/favb16.png">&nbsp;<a href="/Login/">使用Google帐户登录</a>&nbsp;<small><a href="/docs/why_google_account">(?)</a></small>
							{% else %}
							<a href="/user/{{UserID}}/setting">{{UserNickName}}的设置</a>
							<a href="/Logout/">登出</a>
							{% endif %}							
							<em style="color:#86a05f"></em>
						</td>
					</tr>
                </table>
            </div>
            <div id="breadcrumbs-bot"></div>
		</div>
		
		
		<div id="content-holder">
        {% block content-holder %}	
			
		        
		{% endblock content-holder %}
		</div>
        <div style="clear:both;"></div>
        <div id="copy">
            <div id="copy-top"></div>
            <div id="copy-mid">
                <small>&copy; <a href="http://cnborn.net" target="_blank">CNBorn</a>, 2008-2009, Powered by Google App Engine</small>            
            </div>
          <div id="copy-bot"></div>
        </div>
    </div>
	<div id="container-bottom"></div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-329713-4");
pageTracker._trackPageview();
</script>
</body>
</html>
