{% extends "base.html" %}
{% block title %} CheckNerds {% endblock title %}

		{% block content-holder %}
        	<div id="leftside">
            	<div id="sidebar">
					<div id="menulinks">
						<a class="top active" href="#">首页</a>
						<a href="#">每日必做</a>
						<a href="#">未做</a>
						<a class="bottom" href="#">已做</a>
					</div>
				</div>			

					<script type="text/javascript">
						function ajax_Fold(strPageNum){						
							$('#r_' + strPageNum).hide();
							$('#r_' + strPageNum).fadeOut('slow');
						}

						function(o){
							$(o).click(function(){
								var rid = $(o).attr('id').split('_')[1];
								var url = '/j/review/'+rid+'/fullinfo';
								$.getJSON(url, function(r) {
									$('#r_'+rid).hide();
									//$('#review_'+rid).html(r.html);
									$('#r_'+rid).show();
									//load_event_monitor($('#review_'+rid+'_full'));
        						});
							return false;
							}).hover_fold('unfolder');
						}

						</script>



				<div id="main">
					<div id="main-top"></div>
					<div id="main-mid">
						<ul>
							<li>
							<form id="myForm" method="post" action="/additem">
							<img class="imgcheck" border="0" align="left" src="/img/accept16.png">&nbsp;
							<input type="text" name="name" class="sl" />
							<select name="public">
							<option selected="selected" value="private">不公开</option>
							<option value="public">完全公开</option>
							<option value="publicOnlyforFriends">仅对朋友公开</option>
							</select>
							<input name="routine" type="hidden" value="none">
							<input type="submit" value="添加项目" class="sl"/>
							</form>
							</li>

						{% for tarsusaItem_UserToDoItem in tarsusaItemCollection_UserToDoItems %}						
							<li><a href="/doneItem/{{tarsusaItem_UserToDoItem.id}}" class="check"><img class="imgcheck" border="0" align="left" src="/img/checkbox16.png"></a>&nbsp;<span class="itemtitle"><a href="/i/{{ tarsusaItem_UserToDoItem.id }}">{{ tarsusaItem_UserToDoItem.name|escape }}</a></span>
							<!--div id="tb-{{tarsusaItem_UserToDoItem.id}}" style="float: right" class="rr"--!>
							<a style="background: transparent none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" href="#;" onclick="ajax_Fold('{{tarsusaItem_UserToDoItem.id}})'";>
							<img title="展开全文" alt=">" src="http://www.douban.com/pics/arrow2.gif"/></a>	
							
							<!--/div--!>
							</li>
						{% endfor %}
						</ul>
					
					</div>
					<div id="main-bot"></div>
				</div>
            </div>
            
            <div id="rightside">
               <div id="codelist">
                	<div id="codelist-top"></div>
                	<div id="codelist-mid">
                    	<h2 class="posttitle">Pages</h2>
                        <ul>
                            <li><a href="index.html">Page 1</a></li>
                            <li><a href="index.html">Page 2</a></li>
                            <li><a href="index.html">Page 3</a></li>
                        </ul>
                    	<h2 class="posttitle">Latest Codes</h2>
                        <ul>
                            <li><a href="index.html">Latest Code 1</a></li>
                            <li><a href="index.html">Latest Code 2</a></li>
                            <li><a href="index.html">Latest Code 3</a></li>
                        </ul>                        
                    </div>
                	<div id="codelist-bot"></div>
                </div>
            </div>

        {% endblock content-holder %}

