{% extends "base.html" %}
{% block title %} CheckNerds {% endblock title %}

		{% block content-holder %}
        	<div id="leftside">
            	<div id="sidebar">
					<div id="menulinks">
						<a class="top active" href="#">首页</a>
						<a href="#">每日必做</a>
						<a href="#">未做</a>
						<a class="bottom" href="#">已做</a>
					</div>
				</div>			
			
				<div id="main">
					<div id="main-top"></div>
					<div id="main-mid">
						<!--Remove the next few lines to place an ad-->
						<br />
						<div style="margin-top:370px;">
							Main	
						</div>
					</div>
					<div id="main-bot"></div>
				</div>
            </div>
            
            <div id="rightside">
               <div id="codelist">
                	<div id="codelist-top"></div>
                	<div id="codelist-mid">
                    	<h2 class="posttitle">Pages</h2>
                        <ul>
                            <li><a href="index.html">Page 1</a></li>
                            <li><a href="index.html">Page 2</a></li>
                            <li><a href="index.html">Page 3</a></li>
                        </ul>
                    	<h2 class="posttitle">Latest Codes</h2>
                        <ul>
                            <li><a href="index.html">Latest Code 1</a></li>
                            <li><a href="index.html">Latest Code 2</a></li>
                            <li><a href="index.html">Latest Code 3</a></li>
                        </ul>                        
                    </div>
                	<div id="codelist-bot"></div>
                </div>
            </div>

        {% endblock content-holder %}

