{% extends "base.html" %}
{% block title %}CheckNerds - {{ singlePageTitle }} {% endblock title %}
		{% block content-holder %}
 			<div id="leftside">
            	<div id="featuredcode2">
                	<div id="featuredcode2-top"></div>
                   	<div id="featuredcode2-mid">

                        <p>{{ StringRoutineLog }}
					
						</p>

					</div>
                	</div>
                <div id="featuredcode2-bot"></div>
            </div>	
        {% endblock content-holder %}
