{% extends "base.html" %}
{% block title %}CheckNerds - {{ UserLoginNickName }}的完成日志 {% endblock title %}
		{% block content-holder %}
 			<div id="leftside">
            	<div id="featuredcode2">
                	<div id="featuredcode2-top"></div>
                   	<div id="featuredcode2-mid">
						<strong>{{ UserLoginNickName }}的完成日志</strong><br />
                        <p>{{ StringRoutineLog }}
						</p>
						<br />
						<div id="Pagination" class="pagination" style="clear: both; padding-top: 10px;">
							<br />
							<a class="prev" href="/donelog/p/{{previouspagestamp}}">上一页</a>
							<a class="next" href="/donelog/{{nextpagestamp}}">下一页</a>
							<br />
						</div>
						<br />
					</div>
                	</div>
                <div id="featuredcode2-bot"></div>
            </div>	
        {% endblock content-holder %}
