{% extends "base.html" %}
{% block title %} CheckNerds - 没有找到该用户 {% endblock title %}

        	{% block content-holder %}
			
			<div id="leftside">
            	<div id="featuredcode2">
                	<div id="featuredcode2-top"></div>
                   	<div id="featuredcode2-mid">

						<div id="singleleft">
							<h2 class="posttitle">朋友动态</h2>
								Oops! 您要查找的用户没有找到！<br />
								2008.12.10 起CheckNerds对URL进行了一些变更，可能导致您通过之前的一些外部连接无法找到您想要查找的用户<br />
						</div>

						<div id="singleleft">
							<div id="main" style="clear:both;">
							<div id="tablem" style="clear:both;">
							<div id="in_tablem" style="clear:both;">

							<h2 class="posttitle" style="font-weight:normal;">Checknerds用户</h2>
								{% for tarsusaPeople in tarsusaPeopleCollection %}
									<dl class="obu">
									<dt><a href="/uid/{{tarsusaPeople.key.id}}">
									{% if tarsusaPeople.avatar %}
										<img src='/image?avatar={{tarsusaPeople.key}}' width=32 height=32 alt="{{tarsusaPeople.dispname|escape }}">
									{% else %}
										<img src='/img/default_avatar.jpg' width=32 height=32>
									{% endif %}
									</a></dt>


									<dd><a href="/uid/{{tarsusaPeople.key.id|escape}}">{{ tarsusaPeople.dispname|escape }}</a>
									</dd>
							
									</dl>
								{% endfor %}	
							</div></div></div>
							<div style="clear:both;"></div>
						</div>



                	</div>
                	<div id="featuredcode2-bot"></div>
            	</div>
			</div>
                
	

            <div id="rightside">
						<div id="codelist">
						<h2 class="posttitle">{{UserNickName}}的朋友</h2>
						<p>
							<div id="tablem2">
								<div id="in_tablem2">
									{{ UserFriends }}
								</div>
							</div>
							<br />
						</p>
						</div>
			</div>        
		{% endblock content-holder %}

