{% extends "base.html" %}
{% block title %} CheckNerds - 没有找到该页面 {% endblock title %}

        	{% block content-holder %}
			
			<div id="leftside">
            	<div id="featuredcode2">
                	<div id="featuredcode2-top"></div>
                   	<div id="featuredcode2-mid">

						<div id="singleleft">
							<h2 class="posttitle">404</h2>
								Oops! 您要查找的页面没有找到！<br />
								<br />
						</div>

                	</div>
                	<div id="featuredcode2-bot"></div>
            	</div>
			</div>
                
	

            <div id="rightside">
						<div id="codelist">
						<h2 class="posttitle"> </h2>
						<p>
							<div id="tablem2">
								<div id="in_tablem2">
								</div>
							</div>
							<br />
						</p>
						</div>
			</div>        
		{% endblock content-holder %}

