{% extends "mobile_ibase.html" %}{% block content-holder %}<div class="content">{% for tarsusaItem_DailyRoutine in tarsusaItemCollection_DailyRoutine %}

<div class="item">{% if tarsusaItem_DailyRoutine.donetoday %}
<a href='/undoneItem/{{tarsusaItem_DailyRoutine.key.id}}' class="check">
<img class="imgcheck" border="0" align="left" src="/img/remove32.png">
</a>

<span class="itemtitle">
{{ tarsusaItem_DailyRoutine.name|escape }}
</span><span class="desc">xxxxxxxx</span>


{% else %}

<a href="/doneItem/{{tarsusaItem_DailyRoutine.key.id}}" class="check">
<img class="imgcheck" border="0" align="left" src="/img/accept32.png"></a>

<span class="itemtitle"><a href="/i/{{tarsusaItem_DailyRoutine.key.id}}">{{ tarsusaItem_DailyRoutine.name|escape }}</a></span><span class="desc">xxxxxxxx</span>
{% endif %}

</div>{% endfor %}

<div class="item">{{template_tag_donealldailyroutine}}</div>


</div>{% endblock content-holder %}

