{% extends "mobile_base.html" %}
{% block content-holder %}
<div class="content"><ul>
					{% if DonelogItemCollection %}
						{% for DonelogItem in DonelogItemCollection %}
							{{ DonelogItem.donedate }}<br />
							Name: {{ DonelogItem.name|escape }}<br />
						{% endfor %}
					{% endif %}

					{% if tarsusaItem %}
						<h2>{{ tarsusaItem.name|escape }}</h2>							
							{% if tarsusaItemDone %}
								已经完成于{{ tarsusaItem.donedate }} &nbsp;							
								
							{% else %}
								{% if not tarsusaRoutineItem %}
									尚未完成
									{% if tarsusaItem.expired %}
										<span style="color: #F00000">已过期</span>
									{% endif %}
								{% else %}
									{% ifequal tarsusaItem.routine "daily" %}
										每日任务
									{% endifequal %}
									{% ifequal tarsusaItem.routine "weekly" %}
										每周任务
									{% endifequal %}
									{% ifequal tarsusaItem.routine "monthly" %}
										每月任务
									{% endifequal %}
									{% ifequal tarsusaItem.routine "seasonly" %}
										每季度任务
									{% endifequal %}
									{% ifequal tarsusaItem.routine "yearly" %}
										每年任务
									{% endifequal %}	
									<br />
									最近完成<br />
									{% for eachRoutineLogItem in tarsusaRoutineLogItem %}
										{{ eachRoutineLogItem.donedate}} &nbsp; <br />
									{% endfor %}
									
								{% endif %}

							{% endif %}	
							
							
							<br />分类：{{tarsusaItemTags}}<br />
							{{tarsusaItem.usermodel.dispname|escape}}创建，
							{% ifequal tarsusaItem.public "private" %}
								不公开
							{% endifequal %}
							{% ifequal tarsusaItem.public "publicOnlyforFriends" %}
								仅对朋友公开
							{% endifequal %}
							{% ifequal tarsusaItem.public "public" %}
								完全公开
							{% endifequal %}
							<br />
							说明:&nbsp; {{ tarsusaItem.comment }}<br />
						创建时间： &nbsp; {{tarsusaItem.date }}<br />
						预期完成： &nbsp; 
							{% if not tarsusaItem.expectdate %}
								没有完成期限限制
							{% else %}
								{{tarsusaItem.expectdate}}
							{% endif %}
							<br />

							{% if not logictag_OtherpeopleViewThisItem %}
								{% if not tarsusaRoutineItem %}
									{% if not tarsusaItemDone %}
										<a href="/doneItem/{{tarsusaItem.key.id}}">完成该项目</a>|
									{% else %}
										{% if not logictag_OtherpeopleViewThisItem %}
											<a href="/undoneItem/{{tarsusaItem.key.id}}">撤销完成</a>|
										{% endif %}									
									{% endif %}
									<a href="#;">编辑</a>
									|<a href="#;" onclick="if (confirm('确认删除项目？{{tarsusaItem.name|escape}}')) { location.href = '/removeItem/{{tarsusaItem.key.id}}';}">删除</a>
								{% endif %}
							{% endif %}
							<br />


					{% endif %}
</ul><small>&nbsp;&nbsp;<a href="{{RefererURL}}">返回</a></small></div>{% endblock content-holder %}
