{% extends "mobile_base.html" %}
{% block content-holder %}
<div class="content"><ul>
{% for tarsusaItem_DailyRoutine in tarsusaItemCollection_DailyRoutine %}
<li>
{% if tarsusaItem_DailyRoutine.donetoday %}
已完成&nbsp;{{ tarsusaItem_DailyRoutine.name|escape }}<small>&nbsp;<a href='/undoneItem/{{tarsusaItem_DailyRoutine.key.id}}' class="check">撤销</a></small>
{% else %}
<small><a href="/doneItem/{{tarsusaItem_DailyRoutine.key.id}}" class="check">完成</a></small>
<a href="/i/{{tarsusaItem_DailyRoutine.key.id}}">{{ tarsusaItem_DailyRoutine.name|escape }}</a>
{% endif %}
</li>
{% endfor %}
<small>{{template_tag_donealldailyroutine}}</small>
</ul><small>&nbsp;&nbsp;<a href="#">下一页</a></small></div>
{% endblock content-holder %}

