{% extends "mobile_base.html" %}{% block content-holder %}
<div class="content">
<h2>已完成项目</h2>
<ul>
{% for tarsusaItem_UserDoneItem in tarsusaItemCollection_UserDoneItems %}
<li><small><a href="/undoneItem/{{tarsusaItem_UserDoneItem.key.id}}" class="check">撤销</a></small>
<a href="/i/{{ tarsusaItem_UserDoneItem.key.id }}">{{ tarsusaItem_UserDoneItem.name|escape }}</a></li>
{% endfor %}</ul><small>&nbsp;&nbsp;
{% if nextpagestamp %}
<a href="/m/done/{{nextpagestamp}}">下一页</a>&nbsp;
{% endif %}
{% if previouspagestamp %}
<a href="/m/done/p/{{previouspagestamp}}">上一页</a>
{% endif %}
</small></div>
{% endblock content-holder %}
