{% extends "mobile_base.html" %}
{% block content-holder %}
<div class="content">
<h2>未完成项目</h2>
<ul>
{% for tarsusaItem_UserToDoItem in tarsusaItemCollection_UserToDoItems %}
<li>
<small><a href="/doneItem/{{tarsusaItem_UserToDoItem.id}}" class="check">完成</a></small>
<a href="/i/{{ tarsusaItem_UserToDoItem.id }}">{{ tarsusaItem_UserToDoItem.name|escape }}</a></li>
{% endfor %}</ul><small>&nbsp;&nbsp;{% if nextpagestamp %}
<a href="/m/todo/{{nextpagestamp}}">下一页</a>&nbsp;
{% endif %}
{% if previouspagestamp %}
<a href="/m/todo/p/{{previouspagestamp}}">上一页</a>
{% endif %}
</small></div>
{% endblock content-holder %}
