{% extends "base.html" %}
{% block title %} CheckNerds - {{ singlePageTitle }} {% endblock title %}
        <div id="content-holder">
		{% block content-holder %}
			<div id="singlepostholder">
            	<div id="top"></div>
                <div id="mid">
                    <div id="singleleft">
                        <h2 class="posttitle" style="font-weight:normal;">{{ singlePageTitle }} </h2>
                        <p>{{ singlePageContent }}</p><br />
					</div>
                </div>
                <div id="bot"></div>
            </div>			
        {% endblock content-holder %}
