{% extends "base.html" %}
{% block title %}CheckNerds - {{ ViewedUserNickName|escape }} {% endblock title %}
		{% block content-holder %}
      	<div id="leftside">
            	<div id="featuredcode2">
                	<div id="featuredcode2-top"></div>
                   	<div id="featuredcode2-mid">
                    
					<div id="singleright">
                        <div id="googlead">
                            <div id="googlead-top"></div>
                            <div id="googlead-mid">

							<!--Remove the next few lines to place an ad-->
								<div style="float: left; margin-left: 15px;">
                                	{{UserAvatarImage}}
                                </div>
								<div style="float: left; text-align: left; margin-left: 15px;">
                                	id:&nbsp;{{ViewedUserNickName|escape}}<br />
									{{UserJoinInDate}}加入<br />
									{% if UserWebsite %}
										网址:&nbsp;<a href="{{UserWebsite|escape}}" target="_blank">{{UserWebsite|escape}}</a><br />
									{% endif %}
									{% ifnotequal ViewedUser.key.id UserID %}
										{% if not ViewedUserIsOneofCurrentUsersFriends %}
											<br /><a href="/AddFriend/{{ViewedUser.key.id}}" class="g">加为朋友</a>
										{% else %}
											<br /><a href="#;" onclick="if (confirm('Are you sure to remove {{ViewedUserNickName}}')) {location.href = '/RemoveFriend/{{ViewedUser.key.id}}';}" class="g">不再是朋友</a>
										{% endif %}
									{% endifnotequal %}

								</div>
                            </div>
                            <div id="googlead-bot"></div>
                        </div>
                    </div>

                    <div id="singleleft">
                        <h2 class="posttitle" style="font-weight:normal;">{{ UserMainPageUserTitle }} </h2>
						<div style="padding-top:10px; padding-left: 10px;">{{ StringRoutineLog }}</div>
					
						

					</div>
                </div>
                <div id="featuredcode2-bot"></div>
            </div>
		</div>

				
		<div id="rightside">
			<div id="codelist">
					<h2 class="posttitle">{{ViewedUserNickName}}的朋友</h2>
					<p>
						<div id="tablem2">
				    		<div id="in_tablem2">
								{{ ViewedUserFriends }}
							</div>
						</div>
					<br />
					</p>
			</div>


		</div>


        {% endblock content-holder %}
