{% extends "base.html" %}
{% block title %}CheckNerds - {{ EditedUserNickName }}的设置 {% endblock title %}
		{% block content-holder %}
     	<div id="leftside">
            	<div id="featuredcode2">
                	<div id="featuredcode2-top"></div>
                   	<div id="featuredcode2-mid">

                    <div id="singleright">
                        <div id="googlead">
                            <div id="googlead-top"></div>
                            <div id="googlead-mid">

							<!--Remove the next few lines to place an ad-->
							<div style="float: left; margin-left: 15px;">
                                	{{UserAvatarImage}}
                            </div>
							<div style="float: left; text-align: left; margin-left: 15px; margin-top: 5px;">
                            	{{UserAvatarSetting}}
							</div>
							</div>
                            <div id="googlead-bot"></div>
                        </div>
                    </div>

                    <div id="singleleft">
                        <h2 class="posttitle" style="font-weight:normal;"> {{ EditedUserNickName }}的设置 </h2>
						<p> 第{{EditedUserID}}位用户，加入时间{{UserJoinInDate}}</p>
                        <div style="padding-top:10px; padding-left: 10px;">
						<form method="post"> 
						{{ UserSettingForms }}
						<input type="submit" value="更新信息"/>
						</form> 
						<!--form method="post"> 
						<input type="hidden" name="apikey_gene" value="apikey">
						<input type="submit" value="更新APIKEY">						
						</form-->
						</div>
					</div>
                </div>
                <div id="featuredcode2-bot"></div>
            </div>
		</div>
        {% endblock content-holder %}
