{% extends "base.html" %}
{% block title %} CheckNerds - {{ UserNickName }}待完成项目 {% endblock title %}
		{% block content-holder %}
  		<div id="leftside">
            	<div id="featuredcode2">
                	<div id="featuredcode2-top"></div>
                   	<div id="featuredcode2-mid">
					<h2 class="posttitle" style="font-weight:normal;">{{UserNickName}} &raquo; 未完成的项目</h2>
 
						<table id='mt' cellpadding="0" cellspacing="0" border="0" align="left"><tbody></tbody></table>
						
						<div id="Pagination" class="pagination" style="clear:both; padding-top: 10px;"></div>
						
						<!-- http://www.positioniseverything.net/easyclearing.html --!>
						<div style="clear:both;"></div>

                	</div>
                	<div id="featuredcode2-bot"></div>
         		</div>
		</div>


		 <div id="rightside">
            	<div id="codelist">
                	<div id="codelist-top"></div>
                	<div id="codelist-mid">
                    	<h2 class="posttitle">{{UserNickName}}</h2>
                        <ul>
                            <li><img src="/img/add.png"><a href="/ajax/allpage_additem/?TB_iframe=true&height=400&width=400" class="thickbox" title="添加新项目">添加项目</a></li>
                        </ul>
                    </div>
                	<div id="codelist-bot"></div>
                </div>
		 </div>				
			
			<script type="text/javascript">
				//TODO add css ajax table selector: http://yueguangyuan.javaeye.com/blog/241395
				
				var icount;
				var json_usertodoitems;
				function pageselectCallback(page_id, jq){
						var $table = $('#mt');
						$table.children('tbody').empty();
						$table.children('tbody').append('<tr><th colspan="2" class="viewitem_title">&nbsp; 共有' + icount.toString() + '个未完成项目</th></tr><tr><th width="70%" class="viewitem_tags">名称</th><th class="viewitem_tags">添加日期</th></tr>');

						//http://liuyami.com/archives/14.html
						for(var i=((page_id*15)+0); i<((page_id*15)+14); i++)
						{
							try
							{
								var dispstr = '<tr colspan="2"><td class="viewitem_creator">' + '<input type="checkbox" name="checkboxname" onclick="ajax_doneItem(' + "'/doneItem/" + json_usertodoitems[i].id + "');" + '">' + '<a href="/item/' + json_usertodoitems[i].id + '">' + json_usertodoitems[i].name + '</a>&nbsp;';
								
								dispstr = dispstr + '<a href="#;" onclick="if (confirm(' + "'确认删除？" + json_usertodoitems[i].name + "')) {ajax_deleteItem('/removeItem/" + json_usertodoitems[i].id + "');}" + '" class="x">x</a>';

								dispstr = dispstr + '<br />' + json_usertodoitems[i].comment + '</td><td>' + json_usertodoitems[i].date + '</td></tr>';
								
								//ideas inspired by http://www.packtpub.com/article/jquery-table-manipulation-part1
								$table.children('tbody').append(dispstr);
							}
							catch(err){}
						}
                
					$("#mt tr:odd style").backgroundColor='#000000';
					$("#mt tr:not(:has('th'))").mouseover(function(ev){  
						this.style.backgroundColor='#FEFEFE';
					});  
					$("#mt tr:not(:has('th'))").mouseout(function(ev){  
						this.style.backgroundColor='';  
					});  
				
				
				}
			
            	window.onload = function() {
					//http://bbs.jquery.org.cn/viewthread.php?tid=1739
					$.ajaxSetup({async:false});
					
					
					$.getJSON("/ajax/getjson_usertodoitems",function(json){
						icount = json.length;
						json_usertodoitems = json;
					});

					// Create pagination element					
					$("#Pagination").pagination(icount, {
						num_edge_entries: 1,
						items_per_page: 15,
						num_display_entries: 10,
						prev_text: '上一页',
						next_text: '下一页',
						callback: pageselectCallback
                	});					
					pageselectCallback(0,$("#Pagination")); //show the first page.
				}

				function ajax_doneItem(strLink){
					$.ajax({type: "GET", url: strLink ,success: function(){					
						// jQuery cancel all checkbox, from http://www.ruofeel.cn/192.html
						$("input[@name='checkboxname']").each(function() { 
						$(this).attr("checked", false); 
						});
						location.reload();}}); 
					return false;
				}
		
				function ajax_deleteItem(strLink){
						$.ajax({type: "GET", url: strLink ,success: function(){location.reload();}}); 
						return false;
				}
   			</script>
        {% endblock content-holder %}
