{% extends "base.html" %}
{% block title %}CheckNerds - {{ ViewedUserNickName|escape }} {% endblock title %}
		{% block content-holder %}
      	<div id="leftside">
            	<div id="featuredcode2">
                	<div id="featuredcode2-top"></div>
                   	<div id="featuredcode2-mid">
                    
					<div id="singleright">
                        <div id="googlead">
                            <div id="googlead-top"></div>
                            <div id="googlead-mid">

							<!--Remove the next few lines to place an ad-->
								<div style="float: left; margin-left: 15px;">
                                	{{UserAvatarImage}}
                                </div>
								<div style="float: left; text-align: left; margin-left: 15px;">
                                	id:&nbsp;{{ViewedUserNickName|escape}}<br />
									{{UserJoinInDate}}加入<br />
									{% if UserWebsite %}
										网址:&nbsp;<a href="{{UserWebsite|escape}}" target="_blank">{{UserWebsite|escape}}</a><br />
									{% endif %}
									{% ifnotequal ViewedUser.key.id UserID %}
										{% if not ViewedUserIsOneofCurrentUsersFriends %}
											<br /><a href="#;" onclick="ajax_FriendAction('/AddFriend/{{ViewedUser.key.id}}');" class="g">加为朋友</a>
										{% else %}
											<br /><a href="#;" onclick="if (confirm('确定与{{ViewedUserNickName}}不再是朋友了么？')) {ajax_FriendAction('/RemoveFriend/{{ViewedUser.key.id}}');}" class="g">不再是朋友</a>
										{% endif %}
									{% endifnotequal %}

								</div>
                            </div>
                            <div id="googlead-bot"></div>
                        </div>
                    </div>

                    <div id="singleleft">
                        <h2 class="posttitle" style="font-weight:normal;">{{ UserMainPageUserTitle }} </h2>
						<div style="padding-top:10px; padding-left: 10px;">
						{% for each_item in UserNonPrivateItemsList %}
							{% if each_item.done %}
								<img src='/img/accept16.png'><a href="/item/{{each_item.id}}">{{each_item.name}}</a><br />
							{% else %}
								<a href="/item/{{each_item.id}}">{{each_item.name}}</a><br />
							{% endif %}
						{% endfor %}
						</div>
					
					</div>
                </div>
                <div id="featuredcode2-bot"></div>
            </div>
		</div>

				
		<div id="rightside">
			<div id="codelist">
					<h2 class="posttitle">{{ViewedUserNickName}}的朋友</h2>
					<p>
						<div id="tablem2">
				    		<div id="in_tablem2">
								{% ifequal statusViewedUserFriends "NotLogin" %}
									请登录查看此用户的朋友信息
								{% endifequal %}
								
								{% if ViewedUserFriends %}
									{% for each_friend in ViewedUserFriends %}
										 <dl class="obu2"><dt><a href="/user/{{each_friend.id}}"><img src="{{each_friend.avatarpath}}" width=32 height=32></dt><dd>{{each_friend.name}}</a></dd></dl>
									{% endfor %}
								{% else %}
									{% ifnotequal statusViewedUserFriends "NotLogin" %}
										当前没有添加朋友
									{% endifnotequal %}
								{% endif %}
							</div>
						</div>
					<br />
					</p>
			</div>


		</div>
<script type="text/javascript">
		function ajax_FriendAction(strLink){
				$.ajax({type: "GET", url: strLink ,success: function(){					
					location.reload();}}); 
				return false;
		}
</script>

        {% endblock content-holder %}
