{% extends "base.html" %}
{% block title %}Nevada - {{ singlePageTitle }} {% endblock title %}
		{% block content-holder %}
			<div id="singlepostholder">
            	<div id="top"></div>
                <div id="mid">
                    <div id="singleright">
                        <div id="googlead">
                            <div id="googlead-top"></div>
                            <div id="googlead-mid">

							<!--Remove the next few lines to place an ad-->
                    			<br />
								<div style="margin-top:70px;">
                                	Ad Space
                                </div>

                            </div>
                            <div id="googlead-bot"></div>
                        </div>
                    </div>

                    <div id="singleleft">
                        <h2 class="posttitle" style="font-weight:normal;">{{ UserMainPageUserTitle }} </h2>
                        <p>{{ StringRoutineLog }}<br />
					
						</p>

					</div>
                </div>
                <div id="bot"></div>
            </div>			
        {% endblock content-holder %}
