{% extends "base.html" %}
{% block title %} CheckNerds - {{ tarsusaItem.name|escape }} - 查看项目 {% endblock title %}

			{% block content-holder %}
			<div id="singlepostholder">
            	<div id="top"></div>
                <div id="mid">

                    <div id="singleleft">
                        <h2 class="posttitle" style="font-weight:normal;">{{ singlePageTitle }} - {{tarsusaItem.name|escape}} </h2>
                        <p><br />
					
						{% if DonelogItemCollection %}
							{% for DonelogItem in DonelogItemCollection %}
								{{ DonelogItem.donedate }}<br />
								Name: {{ DonelogItem.name|escape }}<br />
							{% endfor %}
						{% endif %}

						{% if tarsusaItem %}
							项目详细信息
							<table cellpadding="0" cellspacing="5" border="0" align="left">
							<tr>
								<th width="60%" class="first"><a href="/i/{{ tarsusaItem.key.id }}">{{ tarsusaItem.name|escape }}</a></th>
								<th><span class="date">分类：<a href="#">{{tarsusaItemTags}}</a></span></th>
							</tr>
							<tr>
								<td>创建者：<a href="/user/{{tarsusaItem.user|escape}}">{{tarsusaItem.user}}</a></td><td>公开：{{tarsusaItem.public}}</td></tr>
							<tr>
							<td colspan="2">说明:&nbsp; {{ tarsusaItem.comment }}</td></tr>
							<tr><td width="50%" colspan="2"><span class="date">创建时间： &nbsp; {{tarsusaItem.date }}
							| 预期完成： &nbsp; {{tarsusaItem.expectdate}}</span></td></tr>

							<tr class="rowA"><td colspan="2">当前状态：
							{% if tarsusaItemDone %}
								<img src="/img/accept16.png">
								已经完成于{{ tarsusaItem.donedate }} &nbsp;
								<a href="#;" onclick="if (confirm('确认撤销完成？{{tarsusaItem.name|escape}}')) {location.href = '/undoneItem/{{tarsusaItem.key.id}}';}" class="x">撤销完成</a>
							{% else %}
								{% if not tarsusaRoutineItem %}
									<tr class="rowA"><td colspan="2">当前状态：未完成
									{% if tarsusaItem.expired %}
										<span style="color: #F00000">注意：此任务已过期！</span>
										<a href=/cancelexpireitem.py?itemId= class="x">取消日期限制</a>
									{% endif %}
								{% else %}
									<tr class="rowA"><td colspan="2">周期性任务：{{ tarsusaItem.routine }}
								{% endif %}

							{% endif %}

							{% if tarsusaRoutineItem %}
								<tr class="rowB"><td colspan="2">最近完成<br />
								{% for eachRoutineLogItem in tarsusaRoutineLogItem %}
									{{ eachRoutineLogItem.donedate}} &nbsp; <br />
								{% endfor %}
								</td></tr>
							{% endif %}						


							{% if not logictag_OtherpeopleViewThisItem %}
								{% if not tarsusaRoutineItem %}
									{% if not tarsusaItemDone %}
										<input type="checkbox" name="checkboxname" onchange="location.href = '/doneItem/{{tarsusaItem.key.id}}'";>完成这个任务
									{% endif %}
									&nbsp; <a href="#;" onclick="if (confirm('确认删除项目？{{tarsusaItem.name|escape}}')) { location.href = '/removeItem/{{tarsusaItem.key.id}}';}" class="x">x</a>
								{% endif %}
							{% endif %}
							</td></tr>
							</table>
						{% endif %}
						</p>

					</div>
                </div>
                <div id="bot"></div>
            </div>			
        {% endblock content-holder %}
