{% extends "base.html" %}
{% block title %} CheckNerds - {{ TagName }} - 查看标签{% endblock title %}
		{% block content-holder %}
			<div id="leftside">
            	<div id="featuredcode2">
                	<div id="featuredcode2-top"></div>
                   	<div id="featuredcode2-mid">

                        <h2 class="posttitle" style="font-weight:normal;">查看标签：{{ TagName }} </h2> {{DeleteThisTag}}
                        <p>{{ TagStatus }}</p>
						<p>{{ ItemList }}<br /></p>

					</div>
                	</div>
                <div id="featuredcode2-bot"></div>
            </div>	
        {% endblock content-holder %}
