{% extends "base.html" %}
{% block title %} CheckNerds - {{ UserNickName }}的朋友 {% endblock title %}

        	{% block content-holder %}
			<script type="text/javascript">
				window.onload = function() {
					$('#div_friendstats').load('/ajax/frontpage_getfriendstats');
				}
			</script>
			
			
			<div id="leftside">
            	<div id="featuredcode2">
                	<div id="featuredcode2-top"></div>
                   	<div id="featuredcode2-mid">

						<div id="singleleft">
							<h2 class="posttitle">朋友动态</h2>
								<div id="div_friendstats" style="padding-top:10px; padding-left: 10px;">正在载入……</div>
						</div>

						<div id="singleleft">
							<div id="main" style="clear:both;">
							<div id="tablem" style="clear:both;">
							<div id="in_tablem" style="clear:both;">

							<h2 class="posttitle" style="font-weight:normal;">Checknerds用户</h2>
								{% for tarsusaPeople in tarsusaPeopleCollection %}
									<dl class="obu">
									<dt><a href="/user/{{tarsusaPeople.key.id}}">
									{% if tarsusaPeople.avatar %}
										<img src='/img?img_user={{tarsusaPeople.key}}' width=32 height=32 alt="{{tarsusaPeople.user|escape }}">
									{% else %}
										<img src='/img/default_avatar.jpg' width=32 height=32>
									{% endif %}
									</a></dt>


									<dd><a href="/user/{{tarsusaPeople.user|escape}}">{{ tarsusaPeople.user|escape }}</a>
									{#加入时间：{{ tarsusaPeople.datejoinin|escape }} #}
									<!--<br /><a href="/AddFriend/{{tarsusaPeople.key.id}}" class="x">加为朋友</a>!-->
									</dd>
							
									</dl>
								{% endfor %}	
							</div></div></div>
							<div style="clear:both;"></div>
						</div>



                	</div>
                	<div id="featuredcode2-bot"></div>
            	</div>
			</div>
                
	

            <div id="rightside">
						<div id="codelist">
						<h2 class="posttitle">您未来的朋友</h2>
						<p>
							<div id="tablem2">
								<div id="in_tablem2">
									注册之后，您添加和关注的朋友会显示在这里
								</div>
							</div>
							<br />
						</p>
						</div>
			</div>        
		{% endblock content-holder %}

