{% extends "mobile_ibase.html" %}
{% block content-holder %}
<div class="content">
	{% for tarsusaItem_UserToDoItem in tarsusaItemCollection_UserToDoItems %}
		<div class="item">
		<table width="100%" border=0 cellspacing=0 cellpadding=0><tr>
		<td width=35>
		<a href="/doneItem/{{tarsusaItem_UserToDoItem.id}}" class="check"><img class="imgcheck" border="0" align="left" src="/img/checkbox32.png"></a></td>
		<td align="left">	
		<span class="itemtitle"><a href="/i/{{ tarsusaItem_UserToDoItem.id }}">{{ tarsusaItem_UserToDoItem.name|escape }}</a></span></td>
		</tr>
		<tr>
		<td></td>
		<td><span class="desc">{{ tarsusaItem_UserToDoItem.comment|escape|truncatewords:3 }}</span></td>
		</tr></table>
		</div>
	{% endfor %}

	<table width="100%" cellspacing="0" cellpadding="2" border="0">
	<tbody><tr>
	{% if previouspagestamp %}
			<td width="50%" align="center">
			<a class="control" href="/m/todo/p/{{previouspagestamp}}">上一页</a>
			</td>
	{% endif %}

	{% if nextpagestamp %}
		<td width="50%" align="center">
		<a class="control" href="/m/todo/{{nextpagestamp}}">下一页</a>
		</td>
	{% endif %}
	</tr></tbody></table>
</div>
{% endblock content-holder %}
