{% extends "mobile_ibase.html" %}{% block content-holder %}
<div class="content">
	{% for tarsusaItem_UserDoneItem in tarsusaItemCollection_UserDoneItems %}
		<div class="item">
			<a href="/undoneItem/{{tarsusaItem_UserDoneItem.key.id}}" class="check">
				<img class="imgcheck" border="0" align="left" src="/img/remove32.png">
			</a>
			<span class="itemtitle">
			<a href="/i/{{ tarsusaItem_UserDoneItem.key.id }}">{{ tarsusaItem_UserDoneItem.name|escape }}</a>
			</span><span class="desc">&nbsp;</span>
		</div>
	{% endfor %}

	<table width="100%" cellspacing="0" cellpadding="2" border="0">
		<tbody><tr><td width="50%" align="center">
		{% if previouspagestamp %}
			<a class="control" href="/m/done/p/{{previouspagestamp}}">上一页</a>
		{% endif %}
		</td><td width="50%" align="center">
		{% if nextpagestamp %}
			<a class="control" href="/m/done/{{nextpagestamp}}">下一页</a>
		{% endif %}
		</td>
		</tr></tbody>
	</table>
</div>
{% endblock content-holder %}
