{% extends "mobile_ibase.html" %}{% block content-holder %}
<div class="content">
	{% for tarsusaItem_UserDoneItem in tarsusaItemCollection_UserDoneItems %}
		<div class="item">
			<table width="100%" border=0 cellspacing=0 cellpadding=0><tr>
			<td width=35>
				<a href="/undoneItem/{{tarsusaItem_UserDoneItem.key.id}}" class="check"><img class="imgcheck" border="0" align="left" src="/img/remove32.png"></a>
			</td>
			<td>
				<span class="itemtitle"><a href="/i/{{ tarsusaItem_UserDoneItem.key.id }}">{{ tarsusaItem_UserDoneItem.name|escape }}</a></span>
			</td>
			</tr>
			<tr><td></td>
			<td><span class="desc">&nbsp;</span></td>
			</tr></table>
		</div>
	{% endfor %}

	<table width="100%" cellspacing="0" cellpadding="2" border="0">
		<tbody><tr><td width="50%" align="center">
		{% if previouspagestamp %}
			<a class="control" href="/m/done/p/{{previouspagestamp}}">上一页</a>
		{% endif %}
		</td><td width="50%" align="center">
		{% if nextpagestamp %}
			<a class="control" href="/m/done/{{nextpagestamp}}">下一页</a>
		{% endif %}
		</td>
		</tr></tbody>
	</table>
</div>
{% endblock content-holder %}
