<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xml:lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">

<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta id="viewport" name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"><title>CheckNerds Mobile</title><link rel="stylesheet" type="text/css" href="{{ PrefixCSSdir }}/css/apple_style.css"></head>

<body>
<div class="status">
<table><tr><td><h3>CheckNerds Mobile</h3></td><td align=right><span style="text-align:right;">{{htmltag_today}} - {{UserNickName}}</span></td></tr></table></div>

<div class="nav">
<table class="nav" width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td width="20%" align="center">
<a {% ifequal MobilePageTag "Stats" %} class="navcurrent" {% endifequal %} href="/m">统计</a> 
</td>
<td width="20%" align="center">
<a {% ifequal MobilePageTag "Daily" %} class="navcurrent" {% endifequal %} href="/m/dailyroutine">每日</a> 
</td>
<td width="20%" align="center">
<a {% ifequal MobilePageTag "ToDo" %} class="navcurrent" {% endifequal %} href="/m/todo">未做</a>
</td>
<td width="20%" align="center">
<a {% ifequal MobilePageTag "Done" %} class="navcurrent" {% endifequal %} href="/m/done">已做</a> 
</td>
<td width="20%" align="center">
<a {% ifequal MobilePageTag "Add" %} class="navcurrent" {% endifequal %} href="/m/add">添加</a>
</td>
</tr>
</tbody>
</table>

</div>{% block content-holder %}{% endblock content-holder %}<div><small>© 2009 CNBorn | CheckNerds</small></div>

<script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">var pageTracker = _gat._getTracker("UA-329713-4");pageTracker._trackPageview();</script></body></html>
