{% extends "mobile_ibase.html" %}
{% block content-holder %}
<div class="content">
	<div class="item">
		{% if DonelogItemCollection %}
			{% for DonelogItem in DonelogItemCollection %}
				{{ DonelogItem.donedate }}<br />
				Name: {{ DonelogItem.name|escape }}<br />
			{% endfor %}
		{% endif %}
	</div>

	{% if tarsusaItem %}
		<span class="title"><h2>{{ tarsusaItem.name|escape }}</h2></span>
		<span class="desc bottomBigger">&nbsp;</span>
		{% ifnotequal tarsusaItem.comment "" %}
			&nbsp; {{ tarsusaItem.comment }} <br /><br />
		{% endifnotequal %}
		
		{% if not logictag_OtherpeopleViewThisItem %}
			{% if not tarsusaRoutineItem %}
				<table width="100%" cellspacing="0" cellpadding="2" border="0"><tbody><tr><td width="33%" align="center">
				{% if not tarsusaItemDone %}
					{% if not logictag_OtherpeopleViewThisItem %}
						<a href="/doneItem/{{tarsusaItem.key.id}}" class="action">完成此项目</a></td>
						<td align="center">
					{% endif %}
				{% else %}
					<a href="/undoneItem/{{tarsusaItem.key.id}}" class="action">撤销此项目</a></td>
					<td align="center">
				{% endif %}
				 <a href="/m/edit/{{tarsusaItem.key.id}}" class="action">编辑</a></td>
				 <td align="center">
				 <a href="#;" onclick="if (confirm('确认删除项目？{{tarsusaItem.name|escape}}')) { location.href = '/removeItem/{{tarsusaItem.key.id}}';}" class="action">删除</a>
				 </td></tr></table>
			{% endif %}
		{% endif %}

		<div class="c"></div>
		<br />

		<div class="control">

			<div class="controlBlock">
				{% if tarsusaItemDone %}
					已经完成于{{ tarsusaItem.donedate }} &nbsp;							
				{% else %}
					{% if not tarsusaRoutineItem %}
						当前状态：未完成
						{% if tarsusaItem.expired %}
							<span style="color: #F00000">已过期</span>
						{% endif %}
					{% else %}
						{% ifequal tarsusaItem.routine "daily" %}每日任务{% endifequal %}
						{% ifequal tarsusaItem.routine "weekly" %}每周任务{% endifequal %}
						{% ifequal tarsusaItem.routine "monthly" %}每月任务{% endifequal %}
						{% ifequal tarsusaItem.routine "seasonly" %}每季度任务{% endifequal %}
						{% ifequal tarsusaItem.routine "yearly" %}每年任务{% endifequal %}	
					{% endif %}
				{% endif %}

				&nbsp;| &nbsp;
				{% ifequal tarsusaItem.public "private" %}
					不公开
				{% endifequal %}
				{% ifequal tarsusaItem.public "publicOnlyforFriends" %}
					仅对朋友公开
				{% endifequal %}
				{% ifequal tarsusaItem.public "public" %}
					完全公开
				{% endifequal %}
				&nbsp;| &nbsp;
				{{tarsusaItem.usermodel.dispname|escape}}创建

			</div>

			<div class="controlBlock topSep">分类：&nbsp;&nbsp;<span class="white">{{tarsusaItemTags}}</span>&nbsp;&nbsp;</div>

			<div class="controlBlock topSep">
				创建时间： &nbsp; <span class="white"> {{tarsusaItem.date }} </span>
				|
				预期完成： &nbsp; <span class="white"> 
				{% if not tarsusaItem.expectdate %}
					没有完成期限限制
				{% else %}
					{{tarsusaItem.expectdate}}
				{% endif %}
				</span>		
			</div>

			{% if tarsusaRoutineItem %}
				<div class="controlBlock topSep">
					最近完成
					{% for eachRoutineLogItem in tarsusaRoutineLogItem %}
						{{ eachRoutineLogItem.donedate}} &nbsp; <br />
					{% endfor %}
				</div>
			{% endif %}

		</div>

		{% endif %}
<table width="100%"><tbody>
<tr>
<td align="center">
<a class="control" href="{{RefererURL}}">返回</a>
</td>
</tr>

</tbody>
</table>
</div>{% endblock content-holder %}

