{% extends "mobile_ibase.html" %}
{% block content-holder %}
<div class="content">
<div class="item"><span class="itemtitle">总事项：{{ tarsusaItemCollection_Statstics.UserTotalItems|escape }}</span></div>
<div class="item"><span class="itemtitle">待完成事项：{{ tarsusaItemCollection_Statstics.UserToDoItems|escape }}</span></div>
<div class="item"><span class="itemtitle">已完成事项：{{ tarsusaItemCollection_Statstics.UserDoneItems|escape }}</span></div>
<div class="item"><span class="itemtitle">完成百分比：{{ tarsusaItemCollection_Statstics.UserDonePercentage|escape }}</span></div>

<div class="item">
<a class="control" href="/Logout/m/">登出</a>
</div>

</div>
{% endblock content-holder %}
