<ul>
{% if dailyroutine_items %}
    {% for dailyroutine_item in dailyroutine_items %}
        <li itemid="{{ dailyroutine_item.id }}" class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
        {% ifequal dailyroutine_item.done 0 %}
        <input type="checkbox" name="checkboxname" onchange="doneItem('/doneItem/{{dailyroutine_item.id}}')">
        {% endifequal %}
        <span class="item">{{ dailyroutine_item.name|escape }}</span>
        <span class="date"></span>
        </li>
    {% endfor %}
{% endif %}
</ul>

<script type="text/javascript"> 
    function undoneItem(strLink){
        $.ajax({type: "GET", url: strLink ,success: tab_flick("tab_dailyroutine") }); 
        $('#tab_dailyroutine').click();
        return false;
    }

function tab_flick(strdivname) {
    divname = "#" + strdivname;
    $(divname).animate({ 
        background: "#000000",
        opacity: 0.4,
        }, 500 ).animate({
        opacity: 1.0}, 500);
    $(divname).css({background:""});
}

function doneItem(strLink){
    $.ajax({type: "GET", url: strLink ,success: tab_flick("tab_dailyroutine")}); 
    $('#tab_dailyroutine').click();
    return false;
    }
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-329713-4']);
  _gaq.push(['_setVar', 'items_daily']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
