<ul>
{% if done_items %}
    {% for each_item in done_items %}
        <li itemid="{{ each_item.id }}" class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
        <input type="checkbox" name="cbundone" checked=false onchange="undoneItem('/undoneItem/{{each_item.id}}')">
        <span class="item">{{ eachitem.name|escape }}</span>
        <span class="date">@{{ each_item.donedate|escape }}</span>
        </li>
    {% endfor %}
{% endif %}
</ul>

<script type="text/javascript"> 
function undoneItem(strLink){
        $('#tab_done').click();
        $.ajax({type: "GET", url: strLink ,success: tab_flick("tab_undone") }); 
        return false;
    }

function tab_flick(strdivname) {
    divname = "#" + strdivname;
    $(divname).animate({ 
        background: "#000000",
        opacity: 0.4,
        }, 500 ).animate({
        opacity: 1.0}, 500);
    $(divname).css({background:""});
}

</script>
