<ul>
{% if undone_items %}
    {% for eachitem in undone_items %}
        <li itemid="{{ eachitem.id }}" class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
        <input type="checkbox" name="cbdone" onchange="doneItem('/doneItem/{{eachitem.id}}')">
        <span class="item">{{ eachitem.name|escape }}</span>
        <span class="date">
        {% ifnotequal eachitem.expectdate None %}
        {{ eachitem.expectdate|escape }}
        {% endifnotequal %}
        </span>
        <span class="option">
            <a href="javascript:void(0);" onclick="if (confirm('确认删除？{{eachitem.name|escape}}')){delete_item('/removeItem/{{eachitem.id}}');}">x</a>
        </span>
        </li>
    {% endfor %}
{% endif %}
</ul>

<script type="text/javascript"> 
    function delete_item(link){
        $.ajax({type: "GET", url: link ,success: function(){
                var item = $('a[onclick*=' + link + ']').parent().parent();
                item.fadeOut("fast", function(){item.remove();});
                }
        }); 
        return false; 
    }

function undoneItem(strLink){
        $.ajax({type: "GET", url: strLink ,success: tab_flick("tab_undone") }); 
        $('#tab_done').click();
        return false;
    }

function tab_flick(strdivname) {
    divname = "#" + strdivname;
    $(divname).animate({ 
        background: "#000000",
        opacity: 0.4,
        }, 500 ).animate({
        opacity: 1.0}, 500);
    $(divname).css({background:""});
}

function doneItem(link){
    //tab_flick("tab_done");
    $.ajax({type: "GET", url: link ,success: function(){
            var item = $('input[onchange*=' + link + ']').parent();
            item.fadeOut("fast", function(){item.remove();});
           }
    });
    return false;
    }
</script>

