<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" xml:lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="manage your todo List online" />
	<meta name="keywords" content="GTD,todo,CheckNerds" />
	<meta name="author" content="CNBorn" />
    <link rel="stylesheet" type="text/css" href="/css/calit2.css" media="screen,projection" />
    <title>{% block title%} {% endblock %}</title>
</head>
<body>
	<div id="header">
        <p id="toplinks">
        (beta) | 
		{% if UserLoggedIn %}
            <a href="/Logout/">登出</a> | 
            <a href="/">设置</a> | 
		{% else %}
			<a href="/Login/">使用Google帐户登录</a><small><a href="/docs/why_google_account">(?)</a></small> | 
		{% endif %}
		<a href="/docs/">帮助</a> | <a href="/about">关于</a>
		</p>
        <h1><a href="/"><img src="/img/calit2/logo.png"></a></h1>
	</div>
    <div id="wrap">
        {% block content-holder %}
        {% endblock content-holder %} 
        <div id="footer">
            <p>&copy; 2008-2012, <a href="http://cnborn.net">CNBorn</a>. Powered by Google App Engine</p>
        </div>
    </div>
</body>

<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.5.min.js"></script>
{% block include_js %} {% endblock %}
{% block extrajs %} {% endblock extrajs %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-329713-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</html>
