{% extends "base.html" %}
{% block title %} CheckNerds(beta) {% endblock title %}
{% block include_js %}
<script type="text/javascript" src="/js/jquery.hoverIntent.minified.js"></script>
<script type="text/javascript" src="/js/calit2.js"></script>
<script src="/js/mustache.js"></script>
{% endblock include_js %}
{% block extrajs %}

@templates@

<script type="text/javascript">
var set_due_today = function(item_id) {
    $.ajax({type: "GET", 
            url: "/duetoday/" + item_id,
            dataType: "json",
            success: function(data){
                if(!is_today_panel()){
                    $("li[itemid=" +item_id+ "]").fadeOut('slow');
                }
                refreshItemData(item_id);
            } 
    });

}
var set_due_tomorrow = function(item_id) {
    $.ajax({type: "GET", 
            url: "/duetomorrow/" + item_id,
            dataType: "json",
            success: function(data){
                if(!is_tomorrow_panel()){
                    $("li[itemid=" +item_id+ "]").fadeOut('slow');
                }
                refreshItemData(item_id);
            } 
    });

}


var showItemOnSidebar = function(id) {
    if (id == 0) {
        return
    }
    item = item_collection[id];
    render_item = {};
    render_item.name = item.name;
    render_item.donedate = item.donedate || '';
    render_item.done = function(){
        return item.done;
    } 
    render_item.undone = function(){
        return !item.done;
    } 
    render_item.expired = function(){
        return item.expired || item.is_dueyesterday;
    }
    
    if(item.routine == 'daily'){
        render_item.routine_name = '每日任务';
    } else if(item.routine == 'weekly'){
        render_item.routine_name = '每周任务';
    } else if(item.routine == 'monthly'){
        render_item.routine_name = '每月任务';
    } else if(item.routine == 'seasonly'){
        render_item.routine_name = '每季度任务';
    } else if(item.routine == 'yearly'){
        render_item.routine_name = '每年任务';
    }

    render_item.public_name = '完全公开';
    if(item.public == 'private'){
        render_item.public_name = '不公开';
    } else if(item.public == 'publicOnlyforFriends'){
        render_item.public_name = '仅对朋友公开';
    }
    render_item.comment = item.comment || '';
    render_item.date = item.date;
    render_item.duration = item.duration;

    render_item.has_expectdate = function() {
        return !item.expectdate === '';
    } 
    render_item.expectdate = item.expectdate || '';
    var template = $("script#sidebar-item-template").html();
    $('#sidebar').html(Mustache.to_html(template, render_item));
}


var showStats = function(data) {
    $.ajax({type: "GET", 
            url: "/j/stats/",
            dataType: "json",
            success: function(data){
                var stats = {}; 
                stats.date = data['date'];
                stats.name = data['name'];
                stats.pic_url = data['pic_url'];
                stats.done = data['stats']['done'];
                stats.todo = data['stats']['todo'];
                stats.total = stats.done + stats.todo; 
                var template = $("script#sidebar-stats-template").html();
                $('#sidebar').html(Mustache.to_html(template, stats));
            } 
    });
}


var getItemfromData = function(data) {
    var id = data['id'];
    var item_name = data['name'];
    var item_comment = data['comment'];
    var item_expectdate = data['expectdate'];
    var item_routine = data['routine'];
    return {
        "comment": item_comment,
        "is_duetoday": data['is_duetoday'],
        "donedate": data['donedate'],
        "tags": null,
        "done": data['done'],
        "date": data['date'],
        "id": id,
        "category": data['done'],
        "duration": data['duration'],
        "name": item_name,
        "expectdate": item_expectdate,
        "routine": item_routine,
        "is_duetomorrow": data['is_duetomorrow'],
        "is_dueyesterday": data['is_dueyesterday'],
        isnottodaypanel: function() {
            return !is_today_panel();
        }
    }
}


var refreshItemData = function(item_id) {
    $.ajax({type: "GET", 
            url: "/j/item/" + item_id,
            dataType: "json",
            success: function(data){
                item_collection[item_id] = getItemfromData(data);
            } 
    });
}

function doneItem(item_id){
    $.ajax({type: "GET", 
            url: "/j/done/" + item_id,
            dataType: "json",
            beforeSend: function(data){
                $("li[itemid=" +item_id+ "] input").fadeOut('slow');
                $("li[itemid=" +item_id+ "] span.item").removeClass().addClass("doneitem");
                if(!is_today_panel()){
                    $("li[itemid=" +item_id+ "]").fadeOut('slow');
                }
            },
            success: function(data){
                refreshItemData(item_id);
                showItemOnSidebar(item_id);
            } 
    });
} 

function delete_item(item_id){
    $.ajax({type: "GET", 
            url: "/j/delete/" + item_id,
            dataType: "json",
            success: function(data){
                var item_id = strLink.split("/",3)[2]; 
                $("li[itemid=" +item_id+ "]").fadeOut('fast');
            } 
    });
} 

$(function(){
//Common function for centering a div.
//http://stackoverflow.com/questions/210717/what-is-the-best-way-to-center-a-div-on-the-screen-using-jquery/
jQuery.fn.center = function () {
    this.css("position","absolute");
    this.css("top", ( $(window).height() - this.height() ) / 3+$(window).scrollTop() + "px");
    this.css("left", ( $(window).width() - this.width() ) / 2+$(window).scrollLeft() + "px");
    return this;
}

function showLoadingPanel() {
    $("#loadingpanel").center();
    $("#loadingpanel").fadeIn('normal');
}

function hideLoadingPanel() {
    $("#loadingpanel").fadeOut('normal');
}


//Controls the Toggle.
$('#toggle').click(function(){
    $(this).toggleClass("down");
});

function retrive_more_items() {
    last_item_id = $("#itemlist li:last").attr("itemid");
    retriving_more_items = true;
    if(!last_item_id){
        return false;
    }
    showLoadingPanel();
    $.ajax({
       type: "GET",
       url: "/ajax/render/?func=inbox&before_item_id=" + last_item_id,
       dataType: "json",
       success: function(msg){
         if(msg.length != 0){
            render_items(msg, "more_inbox");
         } else {
            no_more_items = true; 
         }
         hideLoadingPanel();
         initHover();
         retriving_more_items = false;
         }
     });
}


function is_inbox_activated() {
    return $("#tab_inbox").hasClass("activenavitab");
}


$(window).scroll(function() {
        if ($(window).scrollTop() == $(document).height() - $(window).height() && !retriving_more_items && !no_more_items && is_inbox_activated()){
        retrive_more_items();
    }
});


function tabs_RemoveActive() {
    var tab_list = ['#tab_inbox', '#tab_dailyroutine', '#tab_tomorrow', '#tab_done', '#tab_friends', '#tab_log'];
    for (i=0;i<=tab_list.length - 1;i++){
        if ($(tab_list[i]).hasClass("activenavitab")){
            $(tab_list[i]).removeClass('activenavitab');
        }
        if (!$(tab_list[i]).hasClass("navitab")){
            $(tab_list[i]).addClass('navitab');
        }
    }
}

function tabs_MakeActive(obj_div)
{
    tabs_RemoveActive();
    str_divname = "#" + obj_div.id;
    $(str_divname).removeClass("navitab");
    $(str_divname).addClass('activenavitab');
}

function render_items(msg,type)
{
    render = '';
    if(type != "more_inbox"){
        $('#itemlist').html('');
        render += "<ul>";
    }
    index = 0;

    for(j in msg){
        item = msg[j];
        render_item = item;
        item_collection[item.id] = item;
        if(index % 2){
            render_item.css = 'even' } else {
            render_item.css = 'odd'
            }
        render_item.itemundone = function(){
            return !this.done;
        }
        if(!item.done && !item.is_dueyesterday){
            render_item.item_style = "item";
        } else if (item.is_dueyesterday && !item.done) {
            render_item.item_style = "overdueitem";
        } else {
            render_item.item_style = "doneitem";
        }
        render_item.notshowduetoday = function(){
            return (!this.done && this.routine != 'daily' && !is_today_panel() && !this.is_duetoday);
        } 
        render_item.notshowduetomorrow = function(){
            return (!this.done && this.routine != 'daily' && !is_tomorrow_panel() && !this.is_duetomorrow);
        } 
        render_item.display_date = '';
        if(item.isduetoday != null){ render_item.display_date = '今天'; }
        if(item.isduetomorrow != null){ render_item.display_date = '明天'; }
        render_item.itemdone = function(){
            return this.done;
        }
        
        var template = $("script#item-template").html();
        render += item_template = Mustache.to_html(template, item);
        index++;
    }
    if(type == "more_inbox"){
        $('#itemlist ul').html($('#itemlist ul').html() + render);
    } else {
        render += "</ul>";
        $('#itemlist').html(render);
    }
} function render_donelog(msg){ $('#itemlist').html(''); render = '';
    index = 0;
    render += "<ul>";
    item_collection = {};
    for(i in msg){
        for(j in msg[i]){
            item = msg[i][j];
            item_collection[item.id] = item;
            if(index % 2){
                item.css = 'even' } else {
                item.css = 'odd'
                }
            var template = $("script#itemlist-template").html();
            item_template = Mustache.to_html(template, item);
            render += item_template;
            index++;
        }
    }
    render += "</ul>";
    $('#itemlist').html(render);
}



//Functions for Tabs.
$('#tab_inbox').click(function() {
    tabs_MakeActive(this);
    showLoadingPanel();
    $.ajax({
       type: "GET",
       url: "/ajax/render/?func=inbox&maxitems=18&template=calit2",
       dataType: "json",
       success: function(msg){
         retriving_more_items = false;
         no_more_items = false;
         render_items(msg, "inbox");
         hideLoadingPanel();
         initHover();
         }
     });
    return false;
});

$('#tab_dailyroutine').click(function() {
    tabs_MakeActive(this);
    showLoadingPanel();
    $.ajax({
       type: "GET",
       url: "/ajax/render/?func=dailyroutine&template=calit2",
       dataType: "json",
       success: function(msg){
         render_items(msg, "daily");
         hideLoadingPanel();
         initHover();
         }
     });
    return false;
});

$('#tab_tomorrow').click(function() {
    tabs_MakeActive(this);
    showLoadingPanel();
    $.ajax({
       type: "GET",
       url: "/ajax/render/?func=tomorrow&maxitems=18&template=calit2",
       dataType: "json",
       success: function(msg){
         retriving_more_items = false;
         no_more_items = false;
         render_items(msg, "tomorrow");
         hideLoadingPanel();
         initHover();
         }
     });
    return false;
});


$('#tab_done').click(function() {
    tabs_MakeActive(this);
    showLoadingPanel();
    $.ajax({
       type: "GET",
       url: "/ajax/render/?func=done&maxitems=50&template=calit2",
       dataType: "json",
       success: function(msg){
         render_items(msg, "done");
         hideLoadingPanel();
         initHover();
         }
     });
    return false;
});

$('#tab_log').click(function() {
    tabs_MakeActive(this);
    showLoadingPanel();
    $.ajax({
       type: "GET",
       url: "/ajax/render/?func=logs&template=calit2",
       dataType: "json",
       success: function(msg){
         render_donelog(msg);
         hideLoadingPanel();
         initHover();
         }
     });
    return false;
});

$(document).ready(function(){
   //Functions to run during loading..
   item_collection = {}; 
   showLoadingPanel();
   retriving_more_items = false;
   no_more_items = false;
   $("#additem_more").toggle("fast");
   $('#toggle').html("&darr;");

   $("#toggle").toggle(function(){
       $("#additem_more").show("fast");
       $('#toggle').html("&empty;");
       },function(){
       $("#additem_more").hide("fast");
       $('#toggle').html("&darr;");
       });

   // floating sidebar
   var top = $('#sidebar').offset().top - parseFloat($('#sidebar').css('marginTop').replace(/auto/, 0));
   $(window).scroll(function (event) {
     // what the y position of the scroll is
     var y = $(this).scrollTop();
   
     // whether that's below the form
     if (y >= top) {
       // if so, ad the fixed class
       $('#sidebar').addClass('fixed');
     } else {
       // otherwise remove it
       $('#sidebar').removeClass('fixed');
     }
   });


   $('#tab_dailyroutine').click();
   showStats();
   hideLoadingPanel();
   return false;
});


//Enter to submit.
$("#inputName").keypress(function (e) {  
    if (((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) && ($("#inputName").val() != '')) {  
        showLoadingPanel();
        addItem();  
        e.preventDefault();
        hideLoadingPanel();
        return false;  
    } else {  
        return true;  
    }  
});  

function addItem() {
    $.ajax({
       type: "POST",
       url: "/additem",
       dataType: "json",
       data: {name: $("#inputName").val(), public: $("#add_public").val(), routine: $("#add_routine").val(), comment: $("#add_comment").val(), tags: $("#add_tags").val(), inputDate: $("#inputDate").val()},
       beforeSend: function(data){
           var item_name = $("#inputName").val();
           var item_comment = $("#add_comment").val();
           var item_expectdate = $("#inputDate").val();
           var item_routine = $("#add_routine").val();
           var currentDate = new Date();
           var day = currentDate.getDate();
           var month = currentDate.getMonth() + 1;
           var year = currentDate.getFullYear();
           var date = year +"-"+ month +"-"+ day;
           item = {
               "comment": item_comment,
               "is_duetoday": false,
               "donedate": null,
               "tags": null,
               "done": false,
               "id": 0,
               "date": date,
               "category": false,
               "name": item_name,
               "expectdate": item_expectdate,
               "routine": item_routine,
               "is_duetomorrow": false,
               "is_dueyesterday": false,
               isnottodaypanel: function() {
                   return !is_today_panel();
               }
           }

           if (is_today_panel()) {
               item['is_duetoday'] = true;
               item['is_duetomorrow'] = false;
           }

           var template = $("script#additem-template").html();
           $(Mustache.to_html(template, item)).hide().prependTo('#itemlist ul').fadeIn("fast");
           $("#inputName").val("");
           $("#add_comment").val("");
           $("#add_tags").val("");
           $("#inputDate").val("");

           initHover();

       }, 
       success: function(data){
           var id = parseInt(data['r']);
           $.ajax({type: "GET", 
                    url: "/j/item/" + id,
                    dataType: "json",
                    success: function(data){
                    item_collection[id] = getItemfromData(data);
                    item = item_collection[id];

                    if (is_today_panel()) {
                        set_due_today(id);
                        item['is_duetoday'] = true;
                        item['is_duetomorrow'] = false;
                    }
                    item_collection[id] = item;
                             
                    var dummy_item = $("li[itemid=0] span.item:contains('" + item.name + "'):first");

                    var template = $("script#additem-template").html();
                    var item_html_with_id = $(Mustache.to_html(template, item));
                    dummy_item.parent().replaceWith(item_html_with_id);
                    initHover();

                    } 
            });

         }
     });
}


function initHover(){
    //MouseOver Effect
    //Using jQuery hoverIntent plugin.
    //To offer the hover/pause function.
    function sidebarshow(){$("#sidebar").show();}
    function sidebarloaduser(){showStats();}
    function sidebarloaditem(){
        var id = $(this).attr('itemid');
        showItemOnSidebar(id);
    }

var config = {    
     sensitivity: 3, 
     interval: 200,
     over:sidebarloaduser,
     timeout: 500,
     out: sidebarshow,
};

$("#navitabs").hoverIntent( config );

var config2 = {    
     sensitivity: 3, // number = sensitivity threshold (must be 1 or higher)    
     interval: 10, // number = milliseconds for onMouseOver polling interval    
     over:sidebarloaditem,
     timeout: 10, // number = milliseconds delay before onMouseOut    
     out: sidebarshow,
};

$("#itemlist ul li").hoverIntent( config2 );


}

//End of the $ function.
});

</script>
{% endblock extrajs %}

{% block content-holder %}
											 
    <div id="loadingpanel">
        <img src="img/calit2/loading.gif">    
    </div>

	<div id="navitabs">
        <span class="slogan">{{UserNickName}}</span>
        <a id="tab_inbox" class="navitab activenavitab" href="javascript:void(0);">收件箱</a><span class="hide"> | </span>
		<a id="tab_dailyroutine" class="navitab" href="javascript:void(0);">今天</a><span class="hide"> | </span>
		<a id="tab_tomorrow" class="navitab" href="javascript:void(0);">明天</a><span class="hide"> | </span>
		<a id="tab_done" class="navitab" href="javascript:void(0);">已完成</a>
		<a id="tab_log" class="navitab" href="javascript:void(0);">记录</a>
	</div>

    <div id="content">
        <div id="additem">
            <input type="text" id="inputName" name="name" style="width:90%;
           padding: 5px 3px 5px 10px; float: left; height: 18px; color: rgb(105, 105, 105); font-size: 1.2em;">
           <div id="toggle">&darr;</div>
        </div>

            <div id="additem_more">
                <table width="100%">
                    <tr><td>内容</td><td><textarea name="comment" id="add_comment" rows="2" style="width:90%;" wrap="PHYSICAL"></textarea></td></tr>
                <tr><td>类别</td><td><input type="text" name="tags" id="add_tags" style="width:45%" value=""></td></tr>
                <tr><td></td><td>  
                <select name="routine" id="add_routine">
                    <option value="none" selected="selected">非坚持性任务</option>
                    <option value="daily">每天</option>
                </select>                                
                <select name="public" id="add_public">
                    <option selected="selected" value="private">不公开</option>
                    <option value="public">完全公开</option>
                    <option value="publicOnlyforFriends">仅对朋友公开</option>
                </select>
        </td></tr>
        <tr><td>预计完成</td><td><input type="text" class="sl" name="inputDate" id="inputDate" style="width: 80px"  value="" /></td></tr></table>
            </div>

        <div id="itemlist"></div>

		<p class="box">This is a <strong>Beta</strong> version of CheckNerds</p>
	</div>

	<div id="sidebar"></div>
    
 {% endblock content-holder %}
