{% extends "base.html" %}
{% block title %} CheckNerds(beta) {% endblock title %}
{% block include_js %}
<script type="text/javascript" src="/js/jquery.hoverIntent.minified.js"></script>
{% endblock include_js %}
{% block extrajs %}
<script type="text/javascript">
function doneItem(strLink){
    $.ajax({type: "GET", 
            url: strLink,
            dataType: "json",
            success: function(data){
                var item_id = strLink.split("/",3)[2]; 
                var action_type = strLink.split("/",3)[1]; 
                if(action_type == 'duetoday'){
                    $("li[itemid=" +item_id+ "]").fadeOut('slow');
                }
                else{
                    $("li[itemid=" +item_id+ "] input").fadeOut('slow');
                    $("li[itemid=" +item_id+ "] span.item").removeClass().addClass("doneitem");
                }
            } 
    });
} 

function delete_item(strLink){
    $.ajax({type: "GET", 
            url: strLink,
            dataType: "json",
            success: function(data){
                var item_id = strLink.split("/",3)[2]; 
                $("li[itemid=" +item_id+ "]").fadeOut('fast');
            } 
    });
} 

$(function(){
//Common function for centering a div.
//http://stackoverflow.com/questions/210717/what-is-the-best-way-to-center-a-div-on-the-screen-using-jquery/
jQuery.fn.center = function () {
    this.css("position","absolute");
    this.css("top", ( $(window).height() - this.height() ) / 3+$(window).scrollTop() + "px");
    this.css("left", ( $(window).width() - this.width() ) / 2+$(window).scrollLeft() + "px");
    return this;
}

function showLoadingPanel() {
    $("#loadingpanel").center();
    $("#loadingpanel").fadeIn('normal');
}

function hideLoadingPanel() {
    $("#loadingpanel").fadeOut('normal');
}


//Controls the Toggle.
$('#toggle').click(function(){
    $(this).toggleClass("down");
});

function retrive_more_items() {
    last_item_id = $("#itemlist li:last").attr("itemid");
    retriving_more_items = true;
    if(!last_item_id){
        return false;
    }
    showLoadingPanel();
    $.ajax({
       type: "GET",
       url: "/ajax/render/?func=undone&before_item_id=" + last_item_id,
       dataType: "json",
       success: function(msg){
         if(msg.length != 0){
            render_items(msg, "more_undone");
         } else {
            no_more_items = true; 
         }
         hideLoadingPanel();
         initHover();
         retriving_more_items = false;
         }
     });
}


function is_undone_activated() {
    return $("#tab_undone").hasClass("activenavitab");
}

$(window).scroll(function() {
        if ($(window).scrollTop() == $(document).height() - $(window).height() && !retriving_more_items && !no_more_items && is_undone_activated()){
        retrive_more_items();
    }
});


function tabs_RemoveActive() {
    var tab_list = ['#tab_undone', '#tab_dailyroutine', '#tab_done', '#tab_friends', '#tab_log'];
    for (i=0;i<=tab_list.length - 1;i++){
        if ($(tab_list[i]).hasClass("activenavitab")){
            $(tab_list[i]).removeClass('activenavitab');
        }
        if (!$(tab_list[i]).hasClass("navitab")){
            $(tab_list[i]).addClass('navitab');
        }
    }
}

function tabs_MakeActive(obj_div)
{
    tabs_RemoveActive();
    str_divname = "#" + obj_div.id;
    $(str_divname).removeClass("navitab");
    $(str_divname).addClass('activenavitab');
}

function render_items(msg,type)
{
    render = '';
    if(type != "more_undone"){
        $('#itemlist').html('');
        render += "<ul>";
    }
    index = 0;

    for(j in msg){
        item = msg[j];
        if(index % 2){
            css = 'even' } else {
            css = 'odd'
            }
        render += "<li itemid='" + item.id + "'";
        item_collection[item.id] = item;
        render += " class='" + css + "'>";
        if(!item.done){
            render += "<input type='checkbox' onchange='doneItem(" + '"' + "/doneItem/" + item.id + '"' + ")'>";
            item_style = "item";
        } else {
            item_style = "doneitem";
        }
        render += "<span class='" + item_style + "'>" + item.name + "</span>";

        duetoday_link = '<a href="javascript:void(0);" onclick="doneItem(' + "'/duetoday/" + item.id + "'" + ')">今日完成</a>';
        delete_link = '<a href="javascript:void(0);" onclick="if (confirm(' + "'确认删除？" + item.name + "')){delete_item('" + "/removeItem/" + item.id + "');}" + '">删除</a>';

        render += "<span class='option'>" + delete_link + "</span>";
        if(!item.done && type != 'daily'){
            render += "<span class='option'>" + duetoday_link + "</span>";
        }

        display_date = ''
        if(item.isduetoday != null){ display_date = '今天'; }
        if(item.isduetomorrow != null){ display_date = '明天'; }
        if(display_date != ''){
            render += "<span class='date'>" + display_date + "</span>";
        }
        if(type == "done"){
            render += "<span class='date'>" + item.donedate + "</span>";
        }
        render += "</li>";
        index++;
    }
    if(type == "more_undone"){
        $('#itemlist ul').html($('#itemlist ul').html() + render);
    } else {
        render += "</ul>";
        $('#itemlist').html(render);
    }
}

function render_donelog(msg){
    $('#itemlist').html('');
    render = '';
    index = 0;
    render += "<ul>";
    item_collection = {};
    for(i in msg){
        for(j in msg[i]){
            item = msg[i][j];
            item_collection[item.id] = item;
            if(index % 2){
                css = 'even' } else {
                css = 'odd'
                }
            render += "<li itemid='" + item.id + "'";
            render += " class='" + css + "'>";
            render += "<span class='doneitem'>" + item.name + "</span>";
            render += "<span class='date'>" + item.donedate + "</span>";
            render += "</li>";
            index++;
        }
    }
    render += "</ul>";
    $('#itemlist').html(render);
}



//Functions for Tabs.
$('#tab_undone').click(function() {
    tabs_MakeActive(this);
    showLoadingPanel();
    $.ajax({
       type: "GET",
       url: "/ajax/render/?func=undone&maxitems=18&template=calit2",
       dataType: "json",
       success: function(msg){
         retriving_more_items = false;
         no_more_items = false;
         render_items(msg, "undone");
         hideLoadingPanel();
         initHover();
         }
     });
    return false;
});

$('#tab_dailyroutine').click(function() {
    tabs_MakeActive(this);
    showLoadingPanel();
    $.ajax({
       type: "GET",
       url: "/ajax/render/?func=dailyroutine&template=calit2",
       dataType: "json",
       success: function(msg){
         render_items(msg, "daily");
         hideLoadingPanel();
         initHover();
         }
     });
    return false;
});

$('#tab_done').click(function() {
    tabs_MakeActive(this);
    showLoadingPanel();
    $.ajax({
       type: "GET",
       url: "/ajax/render/?func=done&maxitems=50&template=calit2",
       dataType: "json",
       success: function(msg){
         render_items(msg, "done");
         hideLoadingPanel();
         initHover();
         }
     });
    return false;
});

$('#tab_friends').click(function() {
    tabs_MakeActive(this);
    $('#itemlist').load('/ajax/render/?func=friends&template=calit2',initHover);
    showLoadingPanel();
    hideLoadingPanel();
    return false;
});
$('#tab_log').click(function() {
    tabs_MakeActive(this);
    showLoadingPanel();
    $.ajax({
       type: "GET",
       url: "/ajax/render/?func=logs&template=calit2",
       dataType: "json",
       success: function(msg){
         render_donelog(msg);
         hideLoadingPanel();
         initHover();
         }
     });
    return false;
});

$(document).ready(function(){
   //Functions to run during loading..
   item_collection = {}; 
   showLoadingPanel();
   retriving_more_items = false;
   no_more_items = false;
   $("#additem_more").toggle("fast");
   $('#toggle').html("&darr;");

   $("#toggle").toggle(function(){
       $("#additem_more").show("fast");
       $('#toggle').html("&empty;");
       },function(){
       $("#additem_more").hide("fast");
       $('#toggle').html("&darr;");
       });

   // floating sidebar
   var top = $('#sidebar').offset().top - parseFloat($('#sidebar').css('marginTop').replace(/auto/, 0));
   $(window).scroll(function (event) {
     // what the y position of the scroll is
     var y = $(this).scrollTop();
   
     // whether that's below the form
     if (y >= top) {
       // if so, ad the fixed class
       $('#sidebar').addClass('fixed');
     } else {
       // otherwise remove it
       $('#sidebar').removeClass('fixed');
     }
   });


   $('#tab_undone').click();
   $("#sidebar").load('/ajax/sidebar/?obj=user&template=calit2');
   hideLoadingPanel();
   return false;
});


//Enter to submit.
$("#inputName").keypress(function (e) {  
    if (((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) && ($("#inputName").val() != '')) {  
        showLoadingPanel();
        addItem();  
        e.preventDefault();
        hideLoadingPanel();
        return false;  
    } else {  
        return true;  
    }  
});  

function addItem() {
    $.ajax({
       type: "POST",
       url: "/additem",
       dataType: "json",
       data: {name: $("#inputName").val(), public: $("#add_public").val(), routine: $("#add_routine").val(), comment: $("#add_comment").val(), tags: $("#add_tags").val(), inputDate: $("#inputDate").val()},
       success: function(data){
           var id = data['r'];
           var item_name = $("#inputName").val();
           var duetoday_link = '<a href="javascript:void(0);" onclick="doneItem(' + "'/duetoday/" + id + "'" + ')">今日完成</a>';
           var delete_link = '<a href="javascript:void(0);" onclick="if (confirm(' + "'确认删除？" + item_name + "')){delete_item('" + "/removeItem/" + id + "');}" + '">删除</a>';
           $('<li itemid="'+ id + '" class="even"><input type="checkbox" onchange="doneItem('  + "'/doneItem/" + id + "'" + ')"><span class="item">' + $("#inputName").val() + '</span><span class="option">'+ delete_link +"</span><span class='option'>" +duetoday_link  + ' </span></li>').hide().prependTo('#itemlist ul').fadeIn("fast");
           $("#inputName").val("");
           $("#add_comment").val("");
           $("#add_tags").val("");
           $("#inputDate").val("");
         }
     });
}

function initHover(){
    //MouseOver Effect
    //Using jQuery hoverIntent plugin.
    //To offer the hover/pause function.
    function sidebarshow(){$("#sidebar").show();}
    function sidebarloaduser(){$("#sidebar").load('/ajax/sidebar/?obj=user&template=calit2');}
    function sidebarloaditem(){
        var id = $(this).attr('itemid');
        item = item_collection[id];

        render = "";
        render += "<h2>" + item.name + "</h2>";
        render += "<p><ul>";
        if(item.done){
            render += "已经完成于" + item.donedate;
        } else {
            render += "<li>尚未完成</li>";
            if(item.expired) {
                render += "<span style='color:red'>已过期</span>";
            }
        }
        routine_name = '';
        if(item.routine == 'daily'){
            routine_name = '每日任务';
        }
        if(item.routine == 'weekly'){
            routine_name = '每周任务';
        }
        if(item.routine == 'monthly'){
            routine_name = '每月任务';
        }
        if(item.routine == 'seasonly'){
            routine_name = '每季度任务';
        }
        if(item.routine == 'yearly'){
            routine_name = '每年任务';
        }
        if(routine_name != ''){
            render += "<li>" + routine_name + "</li>";
        }

        public_name = '完全公开';
        if(item.public == 'private'){
            public_name = '不公开';
        }
        if(item.public == 'publicOnlyforFriends'){
            public_name = '仅对朋友公开';
        }
        render += "<li>" + public_name + "</li>";

        render += "说明:" + item.comment + "<br />";
        render += "创建:" + item.date + "<br />";
        if(item.expectdate){
            render += "期限:" + item.expectdate + "<br />";
        }
        render += "</ul></p>";
        $('#sidebar').html(render);
    }

var config = {    
     sensitivity: 3, 
     interval: 200,
     over:sidebarloaduser,
     timeout: 500,
     out: sidebarshow,
};

$("#navitabs").hoverIntent( config );

var config2 = {    
     sensitivity: 3, // number = sensitivity threshold (must be 1 or higher)    
     interval: 10, // number = milliseconds for onMouseOver polling interval    
     over:sidebarloaditem,
     timeout: 10, // number = milliseconds delay before onMouseOut    
     out: sidebarshow,
};

$("#itemlist ul li").hoverIntent( config2 );


}

//End of the $ function.
});

</script>
{% endblock extrajs %}

{% block content-holder %}
											 
    <div id="loadingpanel">
        <img src="img/calit2/loading.gif">    
    </div>

	<div id="navitabs">
        <span class="slogan">{{UserNickName}}</span>
        <a id="tab_undone" class="navitab activenavitab" href="javascript:void(0);">未完成</a><span class="hide"> | </span>
		<a id="tab_dailyroutine" class="navitab" href="javascript:void(0);">今天</a><span class="hide"> | </span>
		<a id="tab_done" class="navitab" href="javascript:void(0);">已做</a>
        <!--a id="tab_friends" class="navitab" href="javascript:void(0);">友邻</a--!>
		<a id="tab_log" class="navitab" href="javascript:void(0);">记录</a>
	</div>



    <div id="content">
        <div id="additem">
            <input type="text" id="inputName" name="name" style="width:90%;
           padding: 5px 3px 5px 10px; float: left; height: 18px; color: rgb(105, 105, 105); font-size: 1.2em;">
           <div id="toggle">&darr;</div>
        </div>

            <div id="additem_more">
                <table width="100%">
                    <tr><td>内容</td><td><textarea name="comment" id="add_comment" rows="2" style="width:90%;" wrap="PHYSICAL"></textarea></td></tr>
                <tr><td>类别</td><td><input type="text" name="tags" id="add_tags" style="width:45%" value=""></td></tr>
                <tr><td></td><td>  
                <select name="routine" id="add_routine">
                    <option value="none" selected="selected">非坚持性任务</option>
                    <option value="daily">每天</option>
                </select>                                
                <select name="public" id="add_public">
                    <option selected="selected" value="private">不公开</option>
                    <option value="public">完全公开</option>
                    <option value="publicOnlyforFriends">仅对朋友公开</option>
                </select>
        </td></tr>
        <tr><td>预计完成</td><td><input type="text" class="sl" name="inputDate" id="inputDate" style="width: 80px"  value="" /></td></tr></table>
            </div>

        <div id="itemlist"></div>

		<p class="box">This is a <strong>Beta</strong> version of CheckNerds</p>
	</div>

	<div id="sidebar"></div>
    
 {% endblock content-holder %}
