{% extends "base.html" %}
{% block title %} CheckNerds(beta) {% endblock title %}
{% block include_js %}
<script type="text/javascript" src="/js/jquery.hoverIntent.minified.js"></script>
{% endblock include_js %}
{% block extrajs %}
<script type="text/javascript">

$(function(){
//Common function for centering a div.
//http://stackoverflow.com/questions/210717/what-is-the-best-way-to-center-a-div-on-the-screen-using-jquery/
jQuery.fn.center = function () {
    this.css("position","absolute");
    this.css("top", ( $(window).height() - this.height() ) / 3+$(window).scrollTop() + "px");
    this.css("left", ( $(window).width() - this.width() ) / 2+$(window).scrollLeft() + "px");
    return this;
}

function showLoadingPanel() {
    $("#loadingpanel").center();
    $("#loadingpanel").fadeIn('normal');
}

function hideLoadingPanel() {
    $("#loadingpanel").fadeOut('normal');
}


//Controls the Toggle.
$('#toggle').click(function(){
    $(this).toggleClass("down");
});


function tabs_RemoveActive() {
    var tab_list = ['#tab_undone', '#tab_dailyroutine', '#tab_done', '#tab_friends', '#tab_log'];
    for (i=0;i<=tab_list.length - 1;i++){
        if ($(tab_list[i]).hasClass("activenavitab")){
            $(tab_list[i]).removeClass('activenavitab');
        }
        if (!$(tab_list[i]).hasClass("navitab")){
            $(tab_list[i]).addClass('navitab');
        }
    }
}

function tabs_MakeActive(obj_div)
{
    tabs_RemoveActive();
    str_divname = "#" + obj_div.id;
    $(str_divname).removeClass("navitab");
    $(str_divname).addClass('activenavitab');
}


//Functions for Tabs.
$('#tab_undone').click(function() {
    tabs_MakeActive(this);
    $('#itemlist').load('/ajax/render/?func=undone&maxitems=1000&template=calit2', initHover);
    showLoadingPanel();
    hideLoadingPanel();
    return false;
});

$('#tab_dailyroutine').click(function() {
    tabs_MakeActive(this);
    $('#itemlist').load('/ajax/render/?func=dailyroutine&template=calit2', initHover);
    showLoadingPanel();
    hideLoadingPanel();
    return false;
});

$('#tab_done').click(function() {
    tabs_MakeActive(this);
    $('#itemlist').load('/ajax/render/?func=done&maxitems=1000&template=calit2',initHover);
    showLoadingPanel();
    hideLoadingPanel();
    return false;
});

$('#tab_friends').click(function() {
    tabs_MakeActive(this);
    $('#itemlist').load('/ajax/render/?func=friends&template=calit2',initHover);
    showLoadingPanel();
    hideLoadingPanel();
    return false;
});


$(document).ready(function(){
   //Functions to run during loading..
   showLoadingPanel();
   $("#additem_more").toggle("fast");
   $('#toggle').html("&darr;");

   $("#toggle").toggle(function(){
       $("#additem_more").show("fast");
       $('#toggle').html("&empty;");
       },function(){
       $("#additem_more").hide("fast");
       $('#toggle').html("&darr;");
       });

   // floating sidebar
   var top = $('#sidebar').offset().top - parseFloat($('#sidebar').css('marginTop').replace(/auto/, 0));
   $(window).scroll(function (event) {
     // what the y position of the scroll is
     var y = $(this).scrollTop();
   
     // whether that's below the form
     if (y >= top) {
       // if so, ad the fixed class
       $('#sidebar').addClass('fixed');
     } else {
       // otherwise remove it
       $('#sidebar').removeClass('fixed');
     }
   });


   $('#tab_undone').click();
   $("#sidebar").load('/ajax/sidebar/?obj=user&template=calit2');
   hideLoadingPanel();
   return false;
});


//Enter to submit.
$("#inputName").keypress(function (e) {  
    if (((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) && ($("#inputName").val() != '')) {  
        showLoadingPanel();
        addItem();  
        e.preventDefault();
        hideLoadingPanel();
        return false;  
    } else {  
        return true;  
    }  
});  



function addItem() {
$.post("/additem",	{ name: $("#inputName").val(), public: $("#add_public").val(), routine: $("#add_routine").val(), comment: $("#add_comment").val(), tags: $("#add_tags").val(), inputDate: $("#inputDate").val() },
   function(data){     
	$('#itemlist').load('/ajax/render/?func=undone&template=calit2');
	$("#inputName").val("");
	$("#add_comment").val("");
	$("#add_tags").val("");
	$("#inputDate").val("");
   }
   , "success" 
);
}

function initHover(){

    //MouseOver Effect
    //Using jQuery hoverIntent plugin.
    //To offer the hover/pause function.
    function sidebarshow(){$("#sidebar").show();}
    function sidebarloaduser(){$("#sidebar").load('/ajax/sidebar/?obj=user&template=calit2');}
    function sidebarloaditem(){$("#sidebar").load('/ajax/sidebar/?obj=item&id=' + $(this).attr('itemid') + '&template=calit2');}
    //function sidebarloadfriendsitem(){$("#sidebar").load('/ajax/sidebar/?obj=friends&itemid=' + $(this).attr('itemid') + '&template=calit2');}

var config = {    
     sensitivity: 3, 
     interval: 200,
     over:sidebarloaduser,
     timeout: 500,
     out: sidebarshow,
};

$("#navitabs").hoverIntent( config );

var config2 = {    
     sensitivity: 3, // number = sensitivity threshold (must be 1 or higher)    
     interval: 250, // number = milliseconds for onMouseOver polling interval    
     over:sidebarloaditem,
     timeout: 500, // number = milliseconds delay before onMouseOut    
     out: sidebarshow,
};

$("#itemlist li").hoverIntent( config2 );


}

//End of the $ function.
});

</script>
{% endblock extrajs %}

{% block content-holder %}
											 
    <div id="loadingpanel">
        <img src="img/calit2/loading.gif">    
    </div>

	<div id="navitabs">
        <span class="slogan">{{UserNickName}}</span>
        <a id="tab_undone" class="navitab activenavitab" href="javascript:void(0);">未完成</a><span class="hide"> | </span>
		<a id="tab_dailyroutine" class="navitab" href="javascript:void(0);">每日</a><span class="hide"> | </span>
		<a id="tab_done" class="navitab" href="javascript:void(0);">已做</a>
        <a id="tab_friends" class="navitab" href="javascript:void(0);">友邻</a>
		<a id="tab_log" class="navitab" href="javascript:void(0);">记录</a>
	</div>



    <div id="content">
        <div id="additem">
            <input type="text" id="inputName" name="name" style="width:90%;
           padding: 5px 3px 5px 10px; float: left; height: 18px; color: rgb(105, 105, 105); font-size: 1.2em;">
           <div id="toggle">&darr;</div>
        </div>

            <div id="additem_more">
                <table width="100%">
                    <tr><td>内容</td><td><textarea name="comment" id="add_comment" rows="2" style="width:90%;" wrap="PHYSICAL"></textarea></td></tr>
                <tr><td>类别</td><td><input type="text" name="tags" id="add_tags" style="width:45%" value=""></td></tr>
                <tr><td></td><td>  
                <select name="routine" id="add_routine">
                    <option value="none" selected="selected">非坚持性任务</option>
                    <option value="daily">每天</option>
                </select>                                
                <select name="public" id="add_public">
                    <option selected="selected" value="private">不公开</option>
                    <option value="public">完全公开</option>
                    <option value="publicOnlyforFriends">仅对朋友公开</option>
                </select>
        </td></tr>
        <tr><td>预计完成</td><td><input type="text" class="sl" name="inputDate" id="inputDate" style="width: 80px"  value="" /></td></tr></table>
            </div>

        <div id="itemlist"></div>

		<p class="box">This is a <strong>Beta</strong> version of CheckNerds</p>
	</div>

	<div id="sidebar"></div>
    
 {% endblock content-holder %}
