{% extends "base.html" %}
{% block title %} CheckNerds(beta) {% endblock title %}

{% block extrajs %}

<script type="text/javascript">
$(function(){
  $('#album').cycle();
//End of the $ function.
});
</script>
{% endblock extrajs %}

{% block content-holder %}
    <div id="album">
        <img src="/img/calit2/chk002.jpg"> 
        <img src="/img/calit2/chk003.jpg"> 
    </div>

    <div id="album1">
        <p>受够了繁琐的项目管理？面对任务列表上的诸多任务不知所措？如何能把自己每天要做的事情培养成一种习惯？<BR><BR>
        CheckNerds是一个简单的任务管理网站。使用它，您可以方便地管理所有您要完成的事情。无论是将杂乱的事项分门别类地整理，还是提醒您优先处理即将到期的任务，CheckNerds都游刃有余<BR><BR>
        想太多无益，请立即开始吧！</p>
    </div>

    <div>
        CheckNerds是一个简单的任务管理网站。使用它，您可以方便地管理所有您要完成的事情。无论是将杂乱的事项分门别类地整理，还是提醒您优先处理即将到期的任务，CheckNerds都游刃有余<BR><BR>
    </div>

{% endblock content-holder %}
