{% extends "base.html" %}
{% block title %} CheckNerds(beta) {% endblock title %}

{% block extrajs %}

<script type="text/javascript">
$(function(){
        $('#album').cycle({delay: 3000, timeout:  7500, speed:  500});
    var ofse = $("#album").offset();

    $("#album_textcontainer").css({'left': ofse.left, 'top':ofse.top});
    $("#album_textcontainer").css({'position': 'absolute'});
//End of the $ function.
});
$(window).resize(function(){
   var ofse = $("#album").offset();

    $("#album_textcontainer").css({'left': ofse.left, 'top':ofse.top});
    $("#album_textcontainer").css({'position': 'absolute'});
    //$("#album").append($("album_text"));
});

</script>
{% endblock extrajs %}

{% block content-holder %}
    <div id="album">
        <img src="/img/calit2/chk002.jpg"> 
        <img src="/img/calit2/chk003.jpg"> 
    </div>

    <div id="album_textcontainer">
    <div id="album_text">
        <p>受够了繁琐的项目管理？<br />
        面对任务列表上的诸多任务不知所措？<br />
        如何能把自己每天要做的事情培养成一种习惯？<br /><br />
        CheckNerds是一个简单的任务管理网站。使用它，您可以方便地管理所有您要完成的事情。无论是将杂乱的事项分门别类地整理，还是提醒您优先处理即将到期的任务，CheckNerds都游刃有余<BR><BR>
        <a href="/Login/">立即开始</a>吧！</p>
    </div>
    </div>

    <div>
        已有{{htmltag_TotalUser}}名用户在上面计划了{{htmltag_TotaltarsusaItem}}项事项						
    </div>
    <div>
        CheckNerds是一个简单的任务管理网站。使用它，您可以方便地管理所有您要完成的事情。无论是将杂乱的事项分门别类地整理，还是提醒您优先处理即将到期的任务，CheckNerds都游刃有余<BR><BR>
    </div>

{% endblock content-holder %}
