@charset "utf-8";
body{background-image:url(./bg.png);background-repeat:repeat-x;background-color:#F0F8E4;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#7f7f7f;margin:0;}
a{color:#9c9b50;text-decoration:none;}
ul{padding-top:10px;}
ul li{
	list-style-type: none;
	/*list-style-image:url(./listimg.png);*/
	font-size: 12px;
	padding-left: 20px;
	padding-top: 2px;
}

/*#codelist-mid li a{color:#7f7f7f;}*/

#breadcrumbs-mid a{border-bottom-width:1px;border-bottom-style:dotted;border-bottom-color:#B3D581;}
a img{border:none;}
p{font-size:11px;line-height:18px;}
#container{width:960px;margin-right:auto;margin-left:auto;}
#container-bottom{background-image:url(./container-bottom.png);background-position:center top;background-repeat:no-repeat;height:7px;width:960px;margin:0 0 15px;}
#logo #sitename {
	color: #96BE57;
	font-weight: normal;
	font-size: 28px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 10px;
	display: block;
}

#container-content{background-image:url(./container-top.png);background-repeat:no-repeat;background-position:center top;background-color:#F9F9F9;border-right-width:1px;border-left-width:1px;border-right-style:solid;border-left-style:solid;border-right-color:#E2E3E4;border-left-color:#E2E3E4;margin:0;padding:13px;}
#header{margin:15px 0 0 20px;}
#breadcrumbs{margin-bottom:17px;}
#breadcrumbs-top,#copy-top{background-image:url(./div-green-top.png);background-repeat:no-repeat;background-position:center top;height:4px;}
#breadcrumbs-mid,#copy-mid{background-color:#EFF8E1;border-right-width:1px;border-left-width:1px;border-right-style:solid;border-left-style:solid;border-left-color:#E3EBD6;border-right-color:#E3EBD6;padding-left:10px;padding-right:10px;}
table{width:100%;}
#breadcrumbs-mid td{width:50%;}
#breadcrumbs-bot,#copy-bot{background-image:url(./div-green-bottom.png);background-repeat:no-repeat;background-position:center top;height:8px;}
#leftside{width:686px;float:left;}
#featuredcode{height:220px;}
#featuredcode-top{background-image:url(./div-featured-top.png);background-repeat:no-repeat;background-position:center bottom;height:7px;}
#featuredcode-mid{background-color:#F3FAE8;border-right-width:1px;border-left-width:1px;border-right-style:solid;border-left-style:solid;border-right-color:#DFE8D1;border-left-color:#DFE8D1;padding:5px 5px 15px 15px; min-height: 180px;}
#featuredcode-bot{background-image:url(./div-featured-bottom.png);background-repeat:no-repeat;background-position:center top;height:7px;}

#featuredcode2-top{background-image:url(./div-featured-top.png);background-repeat:no-repeat;background-position:center bottom;height:7px;}
#featuredcode2-mid{background-color:#F3FAE8;border-right-width:1px;border-left-width:1px;border-right-style:solid;border-left-style:solid;border-right-color:#DFE8D1;border-left-color:#DFE8D1;padding:5px 5px 15px 15px; min-height: 280px;}
#featuredcode2-bot{background-image:url(./div-featured-bottom.png);background-repeat:no-repeat;background-position:center top;height:7px;}

.featuredcode3-top{background-image:url(./div-featured-top.png);background-repeat:no-repeat;background-position:center bottom;height:7px; margin-top: 10px;}
.featuredcode3-mid{border-right-width:1px;border-left-width:1px;border-right-style:solid;border-left-style:solid;border-right-color:#DFE8D1;border-left-color:#DFE8D1;padding:5px 5px 15px 15px; min-height: 180px;}
.featuredcode3-bot{background-image:url(./div-featured-bottom.png);background-repeat:no-repeat;background-position:center top;height:7px;}


#featuredcodeimage{text-align:center;width:370px;}
#featuredcodeimage img{border:1px solid #CCC;}
#featuredcodedes{vertical-align:top;padding-left:10px;}
#latestcodes{margin-left:-5px;}
#latestcodes td{padding:4px;}
.latestcode{width:308px;}
/*I don't know why there are differences between the width of lastestcode-top/bot and mid */
.latestcode-top{background-image:url(./div-left-code-top.png);height:7px;width:331px;}
.latestcode-bot{background-image:url(./div-left-code-bottom.png);height:7px;width:331px;}
.latestcode-mid{min-height:200px;width:308px;}
#tagcloud{width:686px;margin-top:5px;}
#tagcloud-top{background-image:url(./div-left-top.png);height:7px;width:686px;}
#tagcloud-bot{background-image:url(./div-left-bottom.png);height:6px;width:686px;}
#rightside{margin-left:693px;width:241px;}
#googlead{width:242px;margin-top:10px;}
#googlead-mid{background-color:#FEFEF1;border-right-width:1px;border-left-width:1px;border-right-style:solid;border-left-style:solid;border-right-color:#DDEBC6;border-left-color:#DDEBC6;height:203px;text-align:center;}
#codelist{margin-top:10px;}
#codelist-mid{border-right-width:1px;border-left-width:1px;border-right-style:solid;border-left-style:solid;border-right-color:#DDEBC6;border-left-color:#DDEBC6;width:220px;padding:10px;}
#codelist-mid ul li{margin-left:-15px;line-height:18px;}
#singlepostholder #top{background-image:url(./div-green-top.png);height:7px;width:737px;}
#singlepostholder #mid{width:735px;border-right-width:1px;border-left-width:1px;border-right-style:solid;border-left-style:solid;border-right-color:#E3EBD6;border-left-color:#E3EBD6;background-color:#EFF8E1;min-height:275px;}
#singlepostholder #bot{background-image:url(./div-green-bottom.png);height:8px;width:737px;}
#singleleft{
	padding-left:10px;
	padding-top:10px;
	padding-bottom: 5px;
}

/* Styles that used in ViewItem page */
/* Derived from tarsusa - bookish template by node33. */
#featuredcode2 table{margin-top: 10px; width: 650px; border-right: solid 1px #e1e1e1; border-bottom: solid 1px #e1e1e1; border-top: solid 1px #e1e1e1;} 
#featuredcode2 table th.viewitem_title{background-color: #96BE57; height: 40px; padding-left: 20px; padding-right: 11px; color: #fff; text-align: left; border-left: solid 1px #9c9b50; border-bottom: solid 1px #ffffff; }
#featuredcode2 table th.viewitem_tags{height: 30px; padding-left: 15px; padding-right: 11px; text-align: left; border-left: solid 1px #9c9b50; border-bottom: solid 1px #ffffff; border-top: solid 1px #E1E1E1;}
#featuredcode2 table td.viewitem_creator{height: 25px; padding-left: 15px; padding-right: 11px; text-align: left; border-left: solid 1px #9c9b50; border-bottom: solid 1px #ffffff; border-top: solid 1px #E1E1E1;}
#featuredcode2 table td.viewitem_comment{height: 55px; padding-left: 15px; padding-right: 11px; text-align: left; border-left: solid 1px #9c9b50; border-bottom: solid 1px #ffffff; border-top: solid 1px #E1E1E1;}
#featuredcode2 table tr td.rowA{background: #FFF0DE; height: 30px; padding-left: 15px; padding-right: 11px; border-left: solid 1px #9c9b50; border-top: solid 1px #e1e1e1; border-bottom: solid 1px #ffffff; }
#featuredcode2 table tr td.rowB{background: #FFFAF4; height: 30px; padding-left: 15px; padding-right: 11px; border-left: solid 1px #9c9b50; border-top: solid 1px #e1e1e1; border-bottom: solid 1px #ffffff; }

#singleright{float:right;width:245px;margin:4px 10px 10px;}
#copy{margin-top:10px;text-align:center;}
.posttitle{font-size:14px;display:inline;color:#9c9b50;}
.textalign-right{text-align:right;}
.latestcode-mid,#tagcloud-mid{border-right-width:1px;border-left-width:1px;border-right-style:solid;border-left-style:solid;border-right-color:#E1E1E1;border-left-color:#E1E1E1;padding:10px;}
#googlead-top,#codelist-top{background-image:url(./div-right-ad-top.png);height:9px;width:242px;}
#googlead-bot,#codelist-bot{background-image:url(./div-right-ad-bottom.png);height:7px;width:242px;}

/* button style of a, from mac.6.cn */
a.g, a.g:active, a.g:visited {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background-color:#EFEFEF;
border:2px solid #D0D0D0;
color:#000000;
font-size:12px;
margin-right:2px;
padding:2px 4px;
text-decoration:none;
}

/*user list learnt from douban*/
.obu { margin: 0px; width: 70px; float: left; }
.obu dt{ margin: 0; height: 32px; overflow: hidden; text-align: center; }
.obu dd{ margin: 0px; height: 40px; text-align: center; overflow: hidden; }

/*small*/
#tablem{ float: left; margin: 0 -270px 0 0;  width:100%; }
#in_tablem{ margin: 0 0 0 0; padding: 0 65px 0 0;}
#tablerm{ float: right; width: 270px; word-break:break-all;}

/*small2*/
#tablerm2{width: 270px; word-break:break-all;}
#tablem2{margin: 0px;  width: 100%; }
#in_tablem2{ margin: 10px; padding: 0px;}

.obu2 { margin: 0px; width: 70px; float: left; }
.obu2 dt{ margin: 0px; height: 32px; overflow: hidden; text-align: center; }
.obu2 dd{ margin: 0px; height: 20px; text-align: center; overflow: hidden; }

#codelist ul li {list-style-type: none;}
#codelist ul li a{color:#9c9b50;
	text-decoration:none;
	font-size: 12px;
	/*padding-left: 20px;*/
	padding-top: 2px;
}
